{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    {% block meta %}
    {% endblock %}

    <title>
        {% block title %}
        rp42
        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    {% block css %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
        integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>

    <script defer src="{% static 'js/fit-text.js' %}"></script>
    <script defer src="{% static 'js/curtains.umd.min.js' %}"></script>
    <script defer src="{% static 'js/script.js' %}"></script>

    {% block js %}
    {% endblock %}

</head>

<body id="top">
    {% block nav %}
    {% include 'partials/nav.html' %}
    {% endblock %}

    {% comment %} <div class="loader-wrapper bg-dark">
        <div class="loader-bg h-100 w-100">
            <div class="loader-inner">
                <img src="{% static 'images/loader.svg' %}" alt="loader">
            </div>
        </div>
    </div> {% endcomment %}

    <header>
        {% block header %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block postload_js %}
    {% endblock %}

</body>

</html>


<script>

</script>