{% load static %}
<div class="spacer-4"></div>
<div class="container row">
    <div class="px-2 px-lg-3 py-0 py-lg-4 flex__column right col-12 col-lg-6 order0 order1-lg justify-column-center">
        <h3 class="">Ed <span class="primary">Tattoo</span></h3>
        <p class="light medium-text right">
            <i class="fas fa-calendar-alt"></i> <span class="primary">2022</span>
            Ed is a tattoo artist based in Oslo, Norway. He wanted to showcase his tattoo artwork online and attract
            more clients. This is a wull responsive website, and is mobile friendly.
            This app is a PWA, and can be installed on your device.</p>
        <a href="https://edtattoo.no/" target="_blank" class="primary">Visit Website <i
                class="fas fa-external-link-alt"></i></a>
    </div>
    <div class="image__feature col-12 col-lg-6 order1 order0-lg">
         <div class="spacer-2 d-block d-none-lg"></div>
        <a href="https://edtattoo.no/" target="_blank">
            <img src="{% static 'img/projects/ed_tattoo.webp' %}" alt="From Lads to Dads" class="img-fluid">
        </a>
    </div>
</div>