{% load static %}
<div class="spacer-4"></div>
<div class="container row fade-right bg-light">
    <div class="px-2  px-lg-3 py-0 py-lg-4 flex__column right col-12 col-lg-6 order0 order1-lg">
        <h2 class="left">Ed <span class="primary">Tattoo</span></h2>
        <p class="gray medium-text right">
            TEd is a tattoo artist based in Oslo, Norway. He wanted to showcase his tattoo artwork online and attract
            more clients. To achieve this, he decided to create a portfolio website that would highlight his skills and
            experience.</p>
        <a href="https://edtattoo.no/" target="_blank" class="">Visit Website <i
                class="fas fa-external-link-alt"></i></a>
        <div class="spacer-2 d-block d-none-lg"></div>
    </div>
    <div class="image__feature col-12 col-lg-6 order1 order0-lg">
         <div class="spacer-2 d-block d-none-lg"></div>
        <a href="https://edtattoo.no/" target="_blank">
            <img src="{% static 'img/projects/ed_tattoo.webp' %}" alt="From Lads to Dads" class="img-fluid">
        </a>
    </div>
</div>