{% load static %}
<div class="container row">
    <div class="px-2  px-lg-3 py-0 py-lg-4 flex__column col-12 col-lg-6  order0 order1-lg justify-column-center">
        <h3 class="left">From Lads To <span class="primary">Dads</span></h3>
        <p class="light medium-text right">
            From Lads to Dads is a program that provides practical and emotional support to fathers to help them become
            better dads. The program needed a website to promote its mission and services, and to provide resources to
            fathers looking for guidance.</p>

            <a href="https://fromladstodads.ie/" target="_blank" class="">Visit Website <i class="fas fa-external-link-alt"></i></a>
    </div>
    <div class="image__feature col-12 col-lg-6 order1 order0-lg">
         <div class="spacer-2 d-block d-none-lg"></div>
        <a href="https://fromladstodads.ie/" target="_blank">
            <img src="{% static 'img/projects/fromladstodads.webp' %}" alt="From Lads to Dads" class="img-fluid">
        </a>
    </div>
</div>