{% load static %}
<div class="spacer-4"></div>
<div class="container row">
    <div class="image__feature col-12 col-lg-6">
         <div class="spacer-2 d-block d-none-lg"></div>
        <a href="https://rp42.dev" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/projects/iammobilefriendly.webp' %}" alt="I am mobile friendly" class="img-fluid">
        </a>
    </div>
    <div class="px-2 px-lg-3 py-0 py-lg-4 flex__column col-12 col-lg-6 justify-column-center">
        <h3>Portfolio <span class="primary">I am mobile friendly</span></h3>
        <p class="light medium-text">
            <i class="fas fa-calendar-alt"></i> <span class="primary">2023</span>
            This is my portfolio website. I built it using Django, React, and Tailwind CSS. Deployed on Linux using Ngix and Gunicorn with PosqgreSQL database.
            Two Color themes, light and dark. I am mobile friendly and responsive. I am a PWA (Progressive Web App).
        </p>
        <a href="https://iammobilefriendly.dev" target="_blank" rel="noopener noreferrer" class="primary">View Site <i
                class="fas fa-external-link-alt"></i></a>
    </div>
</div>