{% load static %}
<div class="spacer-4"></div>
<div class="container row fade">
    <div class="image__feature col-12 col-lg-6">
         <div class="spacer-2 d-block d-none-lg"></div>
        <a href="https://rp42.dev" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/projects/rp42.webp' %}" alt="From Lads to Dads" class="img-fluid">
        </a>
    </div>
    <div class="px-2 px-lg-3 py-0 py-lg-4 flex__column col-12 col-lg-6">
        <h2>Portfolio <span class="primary">rp42</span></h2>
        <p class="gray medium-text">
            As a full stack developer, I needed a website to showcase my skills, experience, and recent work. I wanted a
            website that was visually appealing, easy to navigate. The website needed
            to be a single page with several sections, including a hero section, an about section, a section to showcase
            my recent work, and a contact section.</p>

        <a href="https://rp42.dev" target="_blank" rel="noopener noreferrer" class="">View Site <i
                class="fas fa-external-link-alt"></i></a>
        <div class="spacer-2 d-block d-none-lg"></div>
    </div>
</div>