{% load static %}
<div class="spacer-4"></div>
<div class="container row">
    <div class="image__feature col-12 col-lg-6">
         <div class="spacer-2 d-block d-none-lg"></div>
        <a href="https://rp42.dev" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/projects/rp42.webp' %}" alt="From Lads to Dads" class="img-fluid">
        </a>
    </div>
    <div class="px-2 px-lg-3 py-0 py-lg-4 flex__column col-12 col-lg-6 justify-column-center">
        <h3>Portfolio <span class="primary">rp42</span></h3>
        <p class="light medium-text">
            <i class="fas fa-calendar-alt"></i> <span class="primary">2022</span>
            This is my portfolio website. I built it using React, and Material Ui CSS. Deployed on Github Pages.
            Two Color themes, light and dark. This is a wull responsive website, and is mobile friendly. 
            This app is a PWA, and can be installed on your device.
        </p>
        <a href="https://rp42.dev" target="_blank" rel="noopener noreferrer" class="primary">View Site <i
                class="fas fa-external-link-alt"></i></a>
    </div>
</div>