{% load static %}
<div class="spacer-4"></div>
<div class="container row">
    <div class="image__feature col-12 col-lg-6">
         <div class="spacer-2 d-block d-none-lg"></div>
        <a href="https://tattooskworkshop.no/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/projects/tattoo_sk.webp' %}" alt="From Lads to Dads" class="img-fluid">
        </a>
    </div>
    <div class="px-2 px-lg-3 py-0 py-lg-4 flex__column col-12 col-lg-6 justify-column-center">
        <h3 class="left">Tattoo SK <span class="primary">Workshop</span></h3>
        <p class="light left medium-text">
            <i class="fas fa-calendar-alt"></i> <span class="primary">2021</span>
            A Website for tattoo artist business in Norway. Has backend functionality to
            manage their image gallery and other content. I built it using Django and HTMX Library Deployed on
            Linux using Ngix and Gunicorn with PosqgreSQL database.
        </p>

            <a href="https://tattooskworkshop.no/" target="_blank" rel="noopener noreferrer" class="primary">Visit
                Website <i class="fas fa-external-link-alt"></i></a>
    </div>
</div>