{% load static %}
<div class="spacer-4"></div>
<div class="container row fade">
    <div class="image__feature col-12 col-lg-6">
         <div class="spacer-2 d-block d-none-lg"></div>
        <a href="https://tattooskworkshop.no/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/projects/tattoo_sk.webp' %}" alt="From Lads to Dads" class="img-fluid">
        </a>
    </div>
    <div class="px-2 px-lg-3 py-0 py-lg-4 flex__column col-12 col-lg-6">
        <h2 class="left">Tattoo SK <span class="primary">Workshop</span></h2>
        <p class="gray left medium-text">
            A tattoo artist business in Norway needed a website to showcase their artwork and services. The business
            owner wanted a website that was visually appealing, easy to navigate, and had backend functionality to
            manage their image gallery and other content. They also required the website to be in two languages -
            Norwegian and English.</p>

            <a href="https://tattooskworkshop.no/" target="_blank" rel="noopener noreferrer" class="">Visit
                Website <i class="fas fa-external-link-alt"></i></a>
        
        <div class="spacer-2 d-block d-none-lg"></div>
    </div>
</div>