{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="I am a full-stack software developer located in Ireland. My aim is to develop websites and applications that are user-friendly, with a focus on cross-device compatibility and responsive design.
">
<meta name="title" content="About Me - Your Partner in Web Design and Development">

<meta property="og:title" content="About Me - Your Partner in Web Design and Development">
<meta property="og:description"
    content="I am a full-stack software developer located in Ireland. My aim is to develop websites and applications that are user-friendly, with a focus on cross-device compatibility and responsive design." />

<meta property="twitter:title" content="About Me - Your Partner in Web Design and Development">
<meta property="twitter:description"
    content="I am a full-stack software developer located in Ireland. My aim is to develop websites and applications that are user-friendly, with a focus on cross-device compatibility and responsive design." />

<meta property="og:image" content="{% static 'img/pic.webp' %}">

<meta property="og:url" content="https://www.rp42.com/contact/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_UK">
{% endblock %}

{% block title %}
About - RP 42
{% endblock %}

{% block js %}

{% endblock %}

{% block header %}
<div class="spacer-5"></div>
<section id="hero">
    <div class="container split">
        <div class="p-2 p-lg-3 split__content fade-left">
            <h1 class="left header-text gray responsive_headline">Hi there, I'm <span class="primary">Raivis</span></h1>
            <p class="large-text right">
                I'm a full-stack software developer based in Ireland, I am passionate about developing user-friendly
                applications with a focus on cross-device compatibility and responsive design.
            </p>
            <div class="row2">
                <a href="#goal" class="primary btn-outline medium-text d-none d-lg-block">read more <i
                        class="fas fa-arrow-down ml-2"></i></a>
                {% include 'partials/links2.html' %}
            </div>
        </div>
        <div class="split__img">
            <img class="px-0 px-lg-4" src="{% static 'img/pic.webp' %}" alt="Hero Image">
        </div>

    </div>
</section>
{% endblock %}

{% block content %}
{% include 'partials/about/featured-about.html' %}
{% include 'partials/about/featured-code.html' %}
{% include 'partials/about/featured-win.html' %}
{% include 'partials/featured/featured-services.html' %}
{% include 'partials/featured/featured-testimonials.html' %}
{% include 'partials/featured/featured-how.html' %}
{% include 'partials/featured/featured-contact.html' %}
{% endblock %}