{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Learn more about me and my web design services. With years of experience in web design and development, I
    am your go-to partner for creating a custom website that reflects your brand and attracts more customers.
">
<meta name="title" content="About Me - Your Partner in Web Design and Development">

<meta property="og:title" content="Boost Your Online Presence with Responsive Design - Get in Touch Today!">
<meta property="og:description"
    content="Learn more about me and my web design services. With years of experience in web design and development, I am your go-to partner for creating a custom website that reflects your brand and attracts more customers.">

<meta property="twitter:title" content="About Me - Your Partner in Web Design and Development">
<meta property="twitter:description"
    content="Learn more about me and my web design services. With years of experience in web design and development, I am your go-to partner for creating a custom website that reflects your brand and attracts more customers.">

<meta property="og:image" content="{% static 'img/dev.jpg' %}">

<meta property="og:url" content="https://www.rp42.com/contact/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_UK">
{% endblock %}

{% block title %}
About - RP 42
{% endblock %}

{% block js %}
<script defer src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block header %}
<div class="spacer my-2"></div>
<section id="hero">
    <div class="container split">
        <div class="py-2 py-lg-3 split__content m-0 m-sm-3 my-0 mr-0 fade-left">
            <h1 class="left header-text gray responsive_headline">Hi I’m <span class=" primary">Raivis</span></h1>
            <p class="large-text right">
                I am a web app developer based in Ireland,
                I create websites and web apps that are responsive and mobile friendly.
            </p>
            <a href="#goal" class="primary btn-outline large-text">read more <i class="fas fa-arrow-down ml-2"></i></a>
        </div>
        <div class="split__img fade-right d-none d-md-block">
            <img src="{% static 'img/staggered.webp' %}" alt="Hero Image">
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
{% include 'partials/about/featured-goal.html' %}
{% include 'partials/about/featured-who.html' %}
{% include 'partials/featured/featured-how.html' %}
{% include 'partials/featured/featured-whether2.html' %}
{% include 'partials/featured/featured-contact.html' %}
{% endblock %}