{% extends 'base.html' %}
{% load static %}

{% block title %}
RP 42
{% endblock %}

{% block js %}
<script defer src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block header %}
{% include 'partials/about/hero.html' %}
{% endblock %}

{% block content %}
{% include 'partials/about/featured-goal.html' %}
{% include 'partials/about/featured-who.html' %}
{% include 'partials/about/featured-aproach.html' %}
{% include 'partials/about/featured-why.html' %}
{% include 'partials/home/featured-whether.html' %}

{% comment %} {% include 'partials/about/featured-tech.html' %} {% endcomment %}
{% include 'partials/about/contact.html' %}
<div class="spacer"></div>
{% endblock %}