{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Get in touch with me to discuss your web design needs. Whether you're looking for a custom website design,
    responsive transformation, or website maintenance, I am here to help. Contact me today.">
<meta name="title" content="Contact Me - Let's Discuss Your Web Design Needs">

<meta property="og:title" content="Contact Me - Let's Discuss Your Web Design Needs">
<meta property="og:description" content=" Get in touch with me to discuss your web design needs. Whether you're looking for a custom website design,
    responsive transformation, or website maintenance, I am here to help. Contact me today.">

<meta property="twitter:title" content="Contact Me - Let's Discuss Your Web Design Needs">
<meta property="twitter:description"
    content=" Get in touch with me to discuss your web design needs. Whether you're looking for a custom website design, responsive transformation, or website maintenance, I am here to help. Contact me today.">

<meta property="og:image" content="{% static 'img/dev.jpg' %}">

<meta property="og:url" content="https://www.rp42.com/contact/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_US">
{% endblock %}

{% block title %}
Conntact - RP 42
{% endblock %}

{% block js %}
<script defer src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
{% include 'partials/featured/featured-contact.html' %}
{% endblock %}