{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Make your website mobile-friendly and attract more customers to your website. 
    Contact me today to learn more about my web design services">
<meta name="title" content="Boost Your Online Presence with Mobile friendly website - Get in Touch Today!">

<meta property="og:title" content="Boost Your Online Presence with Mobile friendly website - Get in Touch Today!">
<meta property="og:description" content="Make your website mobile-friendly and attract more customers to your website. 
    Contact me today to learn more about my web design services">

<meta property="twitter:title" content="Boost Your Online Presence with Mobile friendly website - Get in Touch Today!">
<meta property="twitter:description" content="Make your website mobile-friendly and attract more customers to your website. 
    Contact me today to learn more about my web design services">

<meta property="og:image" content="{% static 'img/devices3.webp' %}">

<meta property="og:url" content="https://www.rp42.cloud/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_US">
{% endblock %}

{% block title %}
RP 42
{% endblock %}

{% block js %}
{% endblock %}

{% block header %}
<div class="spacer"></div>
<section id="hero">
    <article class="container split">
        <div class="p-2 p-lg-3 split__content">
            <h1 class="left header-text display-1 gray responsive_headline">Mobile Friendly Websites for<span
                    class="primary"> Everyone</span>
            </h1>
            <p class="large-text right">
                 I specialize in creating and redesigning websites that not only look great but also function seamlessly
                 on all devices, including desktop computers and mobile devices.</p>
            <div class="row">
                <a href="{% url 'contact' %}" class="primary btn large-text">Get in Touch &nbsp;<i
                        class="fas fa-envelope ml-2"></i></a>
                <a href="#services" class="primary btn-outline medium-text d-none d-xl-block">Learn More &nbsp;<i
                        class="fas fa-arrow-down ml-2"></i></a>
            </div>
        </div>
        <div class="split__img fade-right ">
            <img id="my-plane" src="{% static 'img/hero.webp' %}" alt="Hero Image">
        </div>
    </article>
</section>
{% endblock %}

{% block content %}
{% include 'partials/featured/featured-services.html' %}
{% include 'partials/featured/featured-devices.html' %}
{% include 'partials/featured/featured-how.html' %}
{% include 'partials/home/featured-projects.html' %}
{% include 'partials/featured/featured-testimonials.html' %}
{% include 'partials/featured/featured-contact.html' %}
{% endblock %}