{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description"
    content="Make your website mobile-friendly with a responsive design and attract more customers to your website. 
    Contact me today to learn more about my web design services and how I can help you stay ahead of the game.">
<meta name="title" content="Boost Your Online Presence with Responsive Design - Get in Touch Today!">

<meta property="og:title" content="Boost Your Online Presence with Responsive Design - Get in Touch Today!">
<meta property="og:description"
    content="Make your website mobile-friendly with a responsive design and attract more customers to your website. 
    Contact me today to learn more about my web design services and how I can help you stay ahead of the game.">

<meta property="twitter:title" content="Boost Your Online Presence with Responsive Design - Get in Touch Today!">
<meta property="twitter:description"
    content="Make your website mobile-friendly with a responsive design and attract more customers to your website. 
    Contact me today to learn more about my web design services and how I can help you stay ahead of the game.">

<meta property="og:image" content="{% static 'img/devices33.png' %}">

<meta property="og:url" content="https://www.rp42.com/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_US">
{% endblock %}

{% block title %}
RP 42
{% endblock %}

{% block js %}
<script defer src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block header %}
{% include 'partials/home/hero.html' %}
{% endblock %}

{% block content %}
{% include 'partials/home/featured-specialize.html' %}
{% include 'partials/home/featured-devices.html' %}
{% include 'partials/home/featured-cards.html' %}
{% include 'partials/home/featured-how.html' %}
{% include 'partials/home/featured-whether.html' %}
{% include 'partials/home/contact.html' %}
<div class="spacer"></div>
{% endblock %}