{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description"
    content="Make your website mobile-friendly with a responsive design and attract more customers to your website. 
    Contact me today to learn more about my web design services and how I can help you stay ahead of the game.">
<meta name="title" content="Boost Your Online Presence with Responsive Design - Get in Touch Today!">

<meta property="og:title" content="Boost Your Online Presence with Responsive Design - Get in Touch Today!">
<meta property="og:description"
    content="Make your website mobile-friendly with a responsive design and attract more customers to your website. 
    Contact me today to learn more about my web design services and how I can help you stay ahead of the game.">

<meta property="twitter:title" content="Boost Your Online Presence with Responsive Design - Get in Touch Today!">
<meta property="twitter:description"
    content="Make your website mobile-friendly with a responsive design and attract more customers to your website. 
    Contact me today to learn more about my web design services and how I can help you stay ahead of the game.">

<meta property="og:image" content="{% static 'img/devices33.png' %}">

<meta property="og:url" content="https://www.rp42.com/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_US">
{% endblock %}

{% block title %}
RP 42
{% endblock %}

{% block js %}
<script defer src="{% static 'js/featured.js' %}"></script>
{% endblock %}

{% block header %}
<div class="spacer-5"></div>
<section id="hero">
    <article class="container split">
        <div class="p-2 p-lg-3 split__content">
            <h1 class="left header-text gray responsive_headline">Responsive Web <span class="primary">Development</span>
            </h1>
            <p class="large-text right">
                As a web developer, my goal is to make sure that everyone can access and enjoy the websites I create.
            </p>
            <a href="#specialize" class="primary btn-outline large-text">Learn More <i
                    class="fas fa-arrow-down ml-2"></i></a>
        </div>
        <div class="split__img fade-right d-none d-md-block">
            <img src="{% static 'img/hero.webp' %}" alt="Hero Image">
        </div>
    </article>
</section>
{% endblock %}

{% block content %}
{% include 'partials/featured/featured-specialize.html' %}
{% include 'partials/featured/featured-devices.html' %}
{% include 'partials/featured/featured-focus.html' %}
{% include 'partials/featured/featured-how.html' %}
{% include 'partials/home/featured-projects.html' %}
{% include 'partials/featured/featured-testimonials.html' %}
{% include 'partials/featured/featured-whether.html' %}
{% include 'partials/featured/featured-contact.html' %}
{% endblock %}