{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description"
    content="Don't miss out on mobile traffic! Contact me today to create a website
    that attracts potential customers and increases your sales.">

<meta name="title" content="Is your website mobile-friendly? - I'm Here to Help!">

<meta property="og:title" content="Is your website mobile-friendly? - I'm Here to Help!">
<meta property="og:description"
    content="Don't miss out on mobile traffic! Contact me today to create a website
    that attracts potential customers and increases your sales.">

<meta property="twitter:title" content="Is your website mobile-friendly? n - I'm Here to Help!">
<meta property="twitter:description"
    content="Don't miss out on mobile traffic! Contact me today to create a website
    that attracts potential customers and increases your sales.">

<meta property="og:image" content="{% static 'img/devices3.webp' %}">

<meta property="og:url" content="https://www.rp42.cloud/responsive-design/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_US">
{% endblock %}

{% block title %}Mobile Friendly Websites{% endblock %}

{% block js %}
{% endblock %}

{% block header %}
<div class="spacer"></div>
<section id="hero">
    <article class="container split relative">
        <div class="p-2 p-lg-3 split__content">
            <h1 class="header-text gray responsive_headline">Mobile Friendly <span class="primary">Websites</span></h1>
            <p class="large-text">
                With more than half of internet traffic coming from mobile devices, 
                it's no longer a question of whether or not you need a mobile-friendly website - it's a must-have.</p>
            <a href="#benefits" class="primary btn-outline medium-text d-none d-md-block">Learn More <i
                    class="fas fa-arrow-down ml-2"></i></a>
        </div>
        <div class="split__img">
            <img src="{% static 'img/devices3.webp' %}" alt="Hero Image">
        </div>
    </article>
</section>
{% endblock %}

{% block content %}
{% include 'partials/responsive-design/featured-benefits.html' %}
{% include 'partials/responsive-design/featured-think.html' %}
{% include 'partials/featured/featured-services.html' %}
{% include 'partials/responsive-design/featured-how.html' %}
{% include 'partials/featured/featured-contact.html' %}
{% endblock %}