{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Are you looking to take your website to the next level and attract more customers? Well, look no further!
    I specialize in responsive web app design and develpment." />

<meta name="title" content="Convert your website to a responsive design - I'm Here to Help!">

<meta property="og:title" content="Convert your website to a responsive design - I'm Here to Help!">
<meta property="og:description" content="Are you looking to take your website to the next level and attract more customers? Well, look no further!
    I specialize in responsive web app design and develpment.">

<meta property="twitter:title" content="Convert your website to a responsive design - I'm Here to Help!">
<meta property="twitter:description" content="Are you looking to take your website to the next level and attract more customers? Well, look no further!
    I specialize in responsive web app design and develpment.">

<meta property="og:image" content="{% static 'img/devices33.png' %}">

<meta property="og:url" content="https://www.rp42.com/responsive-redesign/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_US">
{% endblock %}

{% block title %}Responsive Redesign{% endblock %}
{% block js %}
<script defer src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block header %}
<div class="spacer my-2"></div>
<section id="hero">
    <article class="container split relative">
        <div class="p-2 py-3 p-sm-3 py-xl-4 split__content m-0 m-sm-3 my-0 mr-0 fade-left">
            <h1 class="left header-text gray responsive_headline">Conver your website to a responsive design</h1>
            <p class="large-text right">
                Are you looking to take your website to the next level and attract more customers? Well, look no
                further! I specialize in responsive web app design and develpment.</p>
            <a href="#what" class="primary btn-outline large-text">Learn More <i
                    class="fas fa-arrow-down ml-2"></i></a>
        </div>
        <div class="split__img fade-right d-none d-md-block">
            <img src="{% static 'img/devices33.png' %}" alt="Hero Image">
        </div>
    </article>
</section>
{% endblock %}

{% block content %}
<div class="container">
    <section>

        {% include 'partials/responsive-redesign/featured-why.html' %}
        {% include 'partials/responsive-redesign/featured-what.html' %}
        {% include 'partials/responsive-redesign/featured-will.html' %}
        {% include 'partials/responsive-redesign/featured-benefits.html' %}
        {% include 'partials/responsive-redesign/featured-work.html' %}
        {% include 'partials/responsive-redesign/contact.html' %}

        <div class="spacer"></div>
    </section>
</div>
{% endblock %}