{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description"
    content="Is your website mobile-friendly? If not, you could be missing out on a huge chunk of potential customers. 
    Contact me today to learn how I can help you stay ahead of the game with responsive design and ensure that your website is easily accessible and readable on a range of devices." />

<meta name="title" content="Stay Ahead of the Game with Responsive Design - I'm Here to Help!">

<meta property="og:title" content="Stay Ahead of the Game with Responsive Design - I'm Here to Help!">
<meta property="og:description"
    content="Is your website mobile-friendly? If not, you could be missing out on a huge chunk of potential customers. 
Contact me today to learn how I can help you stay ahead of the game with responsive design and ensure that your website is easily accessible and readable on a range of devices.">

<meta property="twitter:title" content="Stay Ahead of the Game with Responsive Design - I'm Here to Help!">
<meta property="twitter:description"
    content="Is your website mobile-friendly? If not, you could be missing out on a huge chunk of potential customers. 
Contact me today to learn how I can help you stay ahead of the game with responsive design and ensure that your website is easily accessible and readable on a range of devices.">

<meta property="og:image" content="{% static 'img/devices33.png' %}">

<meta property="og:url" content="https://www.rp42.com/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_US">
{% endblock %}

{% block title %}Responsive Web Design{% endblock %}

{% block js %}
<script defer src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block header %}
<div class="spacer my-2"></div>
<section id="hero">
    <article class="container split relative">
        <div class="p-2 py-3 p-sm-3 py-xl-4 split__content m-0 m-sm-3 my-0 mr-0 fade-left">
            <h1 class="left header-text gray responsive_headline">Responsive Web Design what is it?</h1>
            <p class="large-text right">
               Where having a mobile-friendly website is as essential as
               having a cup of coffee in the morning. With more than half of internet traffic coming from mobile
               devices, it's no longer a question of whether or not you need a mobile-friendly website - it's a
               must-have.</p>
            <a href="#ensures" class="primary btn-outline large-text">Learn More <i class="fas fa-arrow-down ml-2"></i></a>
        </div>
        <div class="split__img fade-right d-none d-md-block">
            <img src="{% static 'img/devices3.webp' %}" alt="Hero Image">
        </div>
    </article>
</section>
{% endblock %}

{% block content %}
<div class="container">
    <section>
    
            {% include 'partials/responsive-design/featured-what.html' %}
            {% include 'partials/responsive-design/featured-think.html' %}
            {% include 'partials/responsive-design/featured-why.html' %}
            {% include 'partials/contact/featured-contact.html' %}

        <div class="spacer"></div>
    </section>
</div>
{% endblock %}