{% load static %}
<section>
  <div class="bg-secondary footer up">
    <div class="container">
      <div class="flex__column p-2 py-4 py-lg-6 p-sm-3">
        <div class="row flex__between">
          <div class="col-12 flex__row">
            <a href="mailto:rp42dv@gmail.com" class="white inline__block medium-text montserrat">rp42dev@gmail.com</a>
            <a href="tel:085 785 3809" class="white inline__block medium-text montserrat">085 785 3809</a>
            <div class="flex__row">
              <a href="https://www.linkedin.com/in/rp42/" class="white inline__block">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
              <a href="https://github.com/rp42dev" class="white inline__block">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <p class="light text-center">
            @ 2023 - All rights reserved - <a href="https://rp42.cloud" class="white">rp42.cloud</a>
          </p>
        </div>
      </div>
    </div>
</section>