{% load static %}
<section>
  <div class="bg-gray9 footer">
    <div class="container">
      <div class="flex__column px-2 px-sm-3">

        <div class="row flex__between">
          <div class="col-12 col-sm-6 col-md-4 flex__column">
            <h5 class="white">Contact</h5>
            <ul class="list__none">
              <li class="mb-2 list-unstyled">
                <a href="mailto:rp42dv@gmail.com" class="primary montserrat">rp42dev@gmail.com</a>
              </li>
              <li class="mb-2 list-unstyled">
                <a href="tel:085 785 3809" class="primary montserrat">085 785 3809</a>
              </li>
            </ul>
            {% include 'partials/links.html' %}
          </div>

          <div class="col-12 col-sm-6 col-md-4 flex__column">
            <h5 class="white">Links</h5>
            <ul class="list__none">
              <li class="mb-2 list-unstyled">
                <a href="{% url 'home' %}" class="primary montserrat">Home</a>
              </li>
              <li class="mb-2 list-unstyled">
                <a href="{% url 'about' %}" class="primary montserrat">About</a>
              </li>
              <li class="mb-2 list-unstyled">
                <a href="{% url 'contact' %}" class="primary montserrat">Contact</a>
              </li>
              <li class="mb-2 list-unstyled">
                <a href="{% url 'responsive-design' %}" class="primary montserrat">Responsive Design</a>
              </li>
            </ul>
          </div>

          <div class="col-12  border-top">
            <p class="light py-1">
              @ 2023 - <a href="https://rp42.cloud" class="primary">rp42.cloud</a> | <a href="https://rp42.dev" class="primary">rp42.dev</a>
            </p>
          </div>
          <div class="spacer-5"></div>
        </div>

      </div>
    </div>
    <div class="spacer-3"></div>
  </div>
</section>