<nav class="nav bg-gray9">
    <div class="nav__inner p-2 p-sm-3">
        <div class="nav__logo">
            <a class="gray nav__logo-link" href="{% url 'home' %}">RP<span class="primary">42</span></a>
        </div>
        <ul class="nav__items">
            <li id="nav-menu" class="nav__item"><a class="nav__link medium-text light" href="{% url 'about' %}">about</a></li>
            <li id="nav-menu" class="nav__item d-none d-sm-block"><a class="btn light medium-text"
                    href="{% url 'contact' %}">contact</a></li>
        </ul>
    </div>
</nav>