<nav class="nav">
    <div class="nav__inner p-2 p-sm-3">
        <div class="nav__logo">
            <a class="gray nav__logo-link" href="{% url 'home' %}">RP<span class="primary">42</span></a>
        </div>
        <ul class="nav__items">
            <li id="nav-menu" class="nav__item"><a class="light btn-outline medium-text"
                    href="{% url 'about' %}">About</a></li>
            <li id="nav-menu" class="nav__item d-none d-sm-block"><a class="btn light medium-text"
                    href="{% url 'contact' %}">Contact &nbsp;<i class="fas fa-envelope"></i></a></li>
        </ul>
    </div>
</nav>