<nav class="nav text-gray">
    <div class="nav__logo nav__item d-none d-md-block">
        <a class="nav__link display-3" href="#top">rp<span class="text-primary-light">42</span></a>
    </div>
    <ul class="nav__items">
        <li id="nav-social" class="nav__item bg-effect-primary display-3 animate"><a class="nav__link" href="#about"><i
                    class="fa-solid fa-share-nodes"></i></a></li>
        <li id="nav-menu" class="nav__item bg-effect-secondary display-3 animate"><a class="nav__link" href="#footer"><i
                    class="fa-solid fa-bars"></i></a></li>
    </ul>
</nav>