<div class="left">
    <div class="spacer"></div>
    <div class="container contact fade-left">
        <article id="how" class="row bg-primary">
            <div class="col-12 col-md-6 bg-light p-2 p-md-3">
                <div class="spacer-2"></div>
                <h3 class="gray left"> Are you ready to take your website to the next level..</h3>
                <div class="spacer-2"></div>
                <p class="dark large-text right">
                    Some of the benefits of redesign your website include:
            </div>
            <div class="col-12 col-md-6 bg-primary">
                <div class="spacer-2 d-block d-md-none"></div>
                <ul class="list-unstyled p-2 p-md-3">
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Better user experience: A redesign of your website will improve the
                        overall user experience for your visitors. By improving the design and functionality of your
                        website, visitors will be more likely to stay on your website longer and engage with your
                        content. This can lead to more conversions and increased business growth
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Attract more customers: A great website can attract more customers
                        to your business than you ever thought possible. By working with me to create a beautiful,
                        functional, and user-friendly website, you'll be able to attract more visitors and keep them
                        coming back for more.
                        more customers
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Improve your online presence: Your website is often the first point
                        of contact between you and your customers, so it's important to make a good impression. By
                        creating a website that's both visually stunning and user-friendly, I can help you improve your
                        online presence and make a lasting impression on your visitors.
                    </li>
                    <li class="white form-text right">
                        Increase engagement: Engaging with your visitors is key to building a loyal customer base. By
                        creating a website that's
                        easy to navigate and provides a great user experience, I can help you increase engagement and
                        keep your visitors coming
                        back for more. website remains up-to-date and mobile-friendly
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Boost your sales: Ultimately, the goal of any website is to
                        generate more business. By creating a website that's easy to use, visually stunning, and
                        optimized for conversions, I can help you boost your sales and grow your business.
                    </li>
                    <div class="spacer-2"></div>
            </div>
        </article>
    </div>
</div>