{% load static %}

<div id="ensures" class="spacer"></div>
<section>
  <div class="container fade-right row">
      <article class="px-2 px-md-4 col-12 col-md-10">
        <h2 class="dark left">
         A fresh, modern look for your website
                     <div class="spacer-2"></div>
        <p class="dark large-text left">
         I'll work with you to create a new design for your website that reflects the latest
         trends in web design. Whether you want a clean and minimalistic look or something more bold and eye-catching, I
         can create a design that's tailored to your brand and your audience
        </p>
      </article>
  </div>
</section>