<div class="left">
  <div class="spacer"></div>
  <div class="container contact fade-left">
    <article id="how" class="row bg-primary">
      <div class="col-12 col-md-6 bg-light p-2 p-md-3">
        <div class="spacer-2"></div>
        <h2 class="gray left"> Let me break it down for you...</h2>
        <div class="spacer-2"></div>
        <p class="dark large-text right">
         Here are the main benefits you'll get when you work with me to Refactor your website.
      </div>
      <div class="col-12 col-md-6 bg-primary">
        <div class="spacer-2 d-block d-md-none"></div>
        <ul class="list-unstyled p-2 p-md-3">
          <li class="white form-text right">
            <i class="fas fa-check"></i> I'll work closely with you to understand your values, and goals,
            and then create a website that reflects your brand and helps you achieve your business goals.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i> I'll make sure that website is fully responsive, meaning that it looks great and
            functions well on all devices, from desktop computers to mobile phones.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i> I'll make sure that your website is user-friendly and easy to navigate, so that visitors can
            find what they're looking for quickly and easily and have a positive experience.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i> Ultimately, a modern and mobile-friendly website can help you drive more sales. When
            people can easily access your site and engage with your content, they're more likely to make a purchase or
            take the action you want them to take.
          </li>
      
        </ul>
          <div class="spacer-2"></div>
      </div>
    </article>
  </div>
</div>