{% load static %}

<div class="spacer"></div>
<section>
  <div class="container fade-right row">
      <article class="px-2 px-md-4 col-12 col-md-10">
        <h2 class="dark left">Improved functionality and user experience</h2>
                    <div class="spacer-2"></div>
        <p class="dark large-text left">
            A redesign of your website is the perfect opportunity to improve its functionality.
            I'll make sure that your website is easy to navigate and that visitors can find what they're looking for
            quickly and easily. This will help to improve user experience and increase engagement on your website.
        </p>
      </article>
  </div>
</section>