{% load static %}

<div class="spacer"></div>
<section id="goal" class="fade-left container">
  <div class="px-2 px-sm-3 col-12 col-md-10 mx-auto">
    <h2 class="">Mobile responsiveness is essential</h2>
                <div class="spacer-2"></div>
    <p class="gray large-text left">
      In today's world, it's essential that your website is mobile responsive. I'll make sure that your new design is
      optimized for all devices, including smartphones and tablets. This will ensure that your website looks great and
      functions well on any device, improving your online presence and accessibility.
    </p>
  </div>
</section>