{% load static %}

<div id="benefits" class="spacer"></div>
<section>
  <div class="container">
    <div class="flex__column px-0 md:px-8">
      <h2 class="px-8 light text-center text-sm-left">Benefits of a mobile-friendly <span class="primary">website</span></h2>

      <p class="px-8 col-12 col-xl-9 mx-auto text-center text-sm-left medium-text">
        A mobile-friendly website ensures that Your visitors can easily navigate your site on any device.
        It's all about making your website accessible to everyone, no matter where they are or what device they're using.</p>
        <div class="spacer-1 d-none d-sm-block"></div>
      <div class="row tech flex__center stretch">

        <div class="px-0 md:px-4 col-12 col-md-6 col-lg-4 stretch">
          <div class="flex__column gap-1 px-8 py-3 bg-gray9 ">
            <div class="row2 gap-1 icon-sm">
              <img src="{% static 'icons/group.svg' %}" alt="Pen tool">
              <h6 class="text-white my-auto">Reach more <span class="primary">people</span></h6>
            </div>
            <p class="text-white">
              When your website is mobile-friendly, people can access it easily on their phones or
              tablets, which means you'll have more chances to connect with them.
            </p>
          </div>
        </div>

        <div class="px-0 md:px-4 col-12 col-md-6 col-lg-4 stretch">
          <div class="flex__column gap-1 px-8 py-3 bg-gray9 ">
            <div class="row2 gap-1 icon-sm">
              <img src="{% static 'icons\user-love.svg' %}" alt="user love">
              <h6 class="text-white my-auto">User <span class="primary">experience</span></h6>
            </div>
            <p class="text-white">
              With a mobile friendly design, your website will look great and function smoothly no matter
              what device people are using, making it more enjoyable for them to explore your content.
            </p>
          </div>
        </div>

        <div class="px-0 md:px-4 col-12 col-md-6 col-lg-4 stretch">
          <div class="flex__column gap-1 px-8 py-3 bg-gray9 ">
            <div class="row2 gap-1 icon-sm">
              <img src="{% static 'icons\search+.svg' %}" alt="Settings">
              <h6 class="text-white my-auto">Boost your <span class="primary">SEO</span></h6>
            </div>
            <p class="text-white"> 
              Google likes mobile- friendly websites, so if your site is optimized for mobile,
              you'll have a better chance of showing up higher in search results and getting more traffic.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>