{% load static %}

<div class="spacer"></div>
<section>
  <div class="container fade-right row">
      <article class="px-2 px-md-4 col-12 col-md-10">
        <h2 class="dark left">Think about it... </h2>
                    <div class="spacer-2"></div>
        <p class="dark large-text left">
            You're on the go, checking out a website on your phone, and all of a sudden the
            font is too small, the images don't load, and you find yourself scrolling up, down, left, and
            right just to read a paragraph. It's frustrating, right? Now, imagine that's your website. Not a
            good look.
        </p>
      </article>
  </div>
</section>