{% load static %}

<div class="spacer my-2"></div>
<section id="hero">
  <article class="container split relative">
    <div class="p-2 py-3 p-sm-3 py-xl-4 split__content m-0 m-sm-3 my-0 mr-0">
      <h1 class="left header-text gray responsive_headline">Think about it...
      </h1>
      <p class="large-text">
         You're on the go, checking out a website on your phone, and all of a sudden the
         font is too small, the images don't load, and you find yourself scrolling up, down, left, and
         right just to read a paragraph. It's frustrating, right? That's where I come in.
      </p>
          <a href="#help" class="primary btn-outline large-text">Learn More <i
              class="fas fa-arrow-down"></i></a>

    </div>
    <div class="split__img d-none d-md-block">
      <img src="{% static 'img/hero.webp' %}" alt="Hero Image">
    </div>
  </article>
</section>