{% load static %}

<div class="spacer"></div>
<section id="hero">
  <article class="container split relative">
    <div class="px-2 px-lg-3 split__content">
      <h1 class="left header-text light responsive_headline">Think about <span class="primary">it...</span>
      </h1>
      <p class="large-text light">
         You're on the go, checking out a website on your phone, and all of a sudden the
         font is too small, the images don't load, and you find yourself scrolling up, down, left, and
         right just to read a paragraph. It's frustrating, right? That's where I come in.
      </p>
      <div class="spacer-1 d-none-md"></div>
          <a href="#will" class="primary btn-outline large-text d-none d-md-block">Learn More <i
              class="fas fa-arrow-down"></i></a>
    </div>
    <div class="split__img">
      <img src="{% static 'img/hero.webp' %}" alt="Hero Image">
    </div>
  </article>
</section>