{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
    {% endblock %}

    <title>
        {% block title %}
        Is Mobile Friendly
        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% tailwind_css %}
    <link href="{% static 'css/is_mobile_friendly/style.css' %}" rel="stylesheet" />

    {% block css %}
    {% endblock %}


    {% block js %}
    {% endblock %}

</head>

<body id="top">
    {% block nav %}

    {% endblock %}

    <header>
        {% block header %}
        {% endblock %}
        {% if messages %}
        {% for message in messages %}
        <div class="message-container">
            <div class="message">
                <p class="medium-text">{{ message }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </header>

    <div class="">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}


    {% block postload_js %}
    {% endblock %}

</body>

</html>