{% extends 'base-is-mobile.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Make your website mobile-friendly and attract more customers to your website. 
    Contact me today to learn more about my web design services">
<meta name="title" content="Boost Your Online Presence with Mobile friendly website - Get in Touch Today!">

<meta property="og:title" content="Boost Your Online Presence with Mobile friendly website - Get in Touch Today!">
<meta property="og:description" content="Make your website mobile-friendly and attract more customers to your website. 
    Contact me today to learn more about my web design services">

<meta property="twitter:title" content="Boost Your Online Presence with Mobile friendly website - Get in Touch Today!">
<meta property="twitter:description" content="Make your website mobile-friendly and attract more customers to your website. 
    Contact me today to learn more about my web design services">

<meta property="og:image" content="{% static 'img/devices3.webp' %}">

<meta property="og:url" content="https://www.rp42.cloud/">
<meta property="og:site_name" content="RP 42">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_IE">
<meta property="og:locale:alternate" content="en_US">
{% endblock %}

{% block title %}
RP 42
{% endblock %}

{% block js %}
{% endblock %}

{% block header %}
<div class="spacer"></div>
<section id="hero">
    <article class="container">
        <h2> 
            <span class="text-3xl md:text-5xl font-bold">Boost Your Online Presence</span>
            <span class="text-3xl md:text-5xl font-bold">with Mobile friendly website</span>
        </h2>
    </article>
</section>
{% endblock %}

{% block content %}
{% endblock %}
