{% load static %}
<div class="spacer"></div>
<section class="container device row bg-light fade-left">
  <div class="image__feature col-12 col-lg-6">
    <img src="{% static 'img/laptop.jpg' %}" alt="Hero Image">
  </div>
  <div class="px-2  px-lg-3 py-4 flex__column right col-12 col-lg-6">
    <h2 class="left">My <span class="primary">Story</span></h2>
    <p class="gray medium-text right">
      I have always been fascinated by the power of technology, and I love to explore how software can be used to solve
      complex problems. I first began to learn programming while pursuing my Diploma in Full Stack
      Software Development at the Code Institute. Through that program, I gained hands-on experience with UX Design, 
      Full Stack Development. Since then, I have helped businesses and individuals create custom websites.</p>
</section>
</div>