{% load static %}

<div class="spacer"></div>
<section id="goal">
  <div class="bg-primary fade-left">
    <div class="container">
      <div class="p-2 py-4 py-lg-6 p-sm-3 col-12 col-md-10">
        <p class="light text-center large-text left">
          My goal is to provide high-quality and accessible experiences
          that meet the needs of a wide range of users
          with a focus on cross-device compatibility and responsive design.
        </p>
      </div>
    </div>
  </div>
</section>