{% load static %}

<div class="spacer"></div>
<section>
  <div class="bfade-right">
    <div class="container contact">
      <div class="flex__column px-2 py-0 px-md-3 fade-right">
        <div class="row text-center">
          <div class="contact__item col-12 col-md-4 rotate-right left">
            <h4 class="dark">Customized <span class="primary">Solutions:</span></h4>
            <p class="dark medium-text">I provide personalized web design solutions that are tailored to the unique needs
              and goals
              of your business or personal project.</p>
          </div>
          <div class="contact__item col-12 col-md-4 rotate-left right">
            <h4 class="dark">Expertise and <span class="primary">Experience:</span></h4>
            <p class="dark medium-text">With years of experience in web design and development, I have the skills and
              knowledge
              to bring your vision to life and create a seamless user experience.</p>
          </div>
          <div class="contact__item col-12 col-md-4 rotate-right left">
            <h4 class="dark">Support and <span class="primary">Maintenance:</span></h4>
            <p class="dark medium-text"> I offer ongoing support and maintenance services to ensure your website remains
              up-to-date, secure, and functioning optimally, allowing you to focus on your business or personal project.</p>
          </div>
        </div>
      </div>
      
    </div>
</section>