{% load static %}
<div class="spacer"></div>
<div class="container">
  <div class="row">


    <div class="px-2  px-lg-3 py-0 py-lg-4 flex__column col-12 col-lg-6 justify-column-center">
      <h2 class="left">Hackathon <span class="primary">Winner</span></h2>
      <p class="gray large-text">
        In September 2022, as part of a team, I had the honor of winning first place in a Hackathon jointly organized by
        the Code Institute and Deloitte. Our team developed a web application called Genquality, which assesses the
        user's knowledge about the gender gap in the workplace.
        place.
      </p>
    </div>
    <div class="image__feature col-12 col-lg-6">
      <img src="{% static 'img/hackathon.webp' %}"alt="Hero Image">
    </div>
  </div>
</div>