{% load static %}

<div class="spacer"></div>
<section>
  <div class="bfade-right">
    <div class="container">
      <div class="flex__column px-2 fade-right">
        <div class="row text-center">
          <div class="px-2 col-12 col-md-6 col-xl-4 rotate-right left">
            <div class="flex__item p-2 bg-primary">
              <h5 class="light">Customized <span class="cream">Solutions:</span></h5>
              <p class="light">I provide personalized web design solutions that are tailored to
                the unique needs and goals of your business or personal project.</p>
            </div>
          </div>
          <div class="px-2 col-12 col-md-6 col-xl-4 rotate-left right">
            <div class="flex__item p-2 bg-light">
              <h5 class="dark">Expertise and <span class="primary">Experience:</span></h5>
              <p class="dark">With extensive web design and development experience, I possess the skills and knowledge
                to turn your vision into a reality and deliver a smooth user experience.</p>
            </div>
          </div>
          <div class="px-2 col-12 col-md-6 col-xl-4 rotate-right left">
            <div class="flex__item p-2 bg-primary">
              <h5 class="light">Support and <span class="cream">Maintenance:</span></h5>
              <p class="light"> I provide continuous support and maintenance services to keep your website updated,
                secure, and running optimally, freeing up your time to focus on your business or personal project.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>