{% load static %}

<div class="spacer"></div>
<section>
  <div class="bg-light fade-right">
    <div class="container">
      <div class="row p-0 py-2 py-lg-4 p-sm-2">

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech-icons\icon_python_.svg' %}" alt="Python" class="img-fluid">
          <h4 class="text-white">Python</h4>
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech-icons\icon_django_.svg' %}" alt="Django" class="img-fluid">
          <h4 class="text-white">Django</h4>
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech-icons\icon_react_.svg' %}" alt="React" class="img-fluid">
          <h4 class="text-white">React</h4>
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech-icons\icon_js_.svg' %}" alt="JavaScript" class="img-fluid">
          <h4 class="text-white">JavaScript</h4>
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech-icons\icon_linux_.svg' %}" alt="Linux" class="img-fluid">
          <h4 class="text-white">Linux</h4>
        </div>
      </div>
    </div>
  </div>
</section>