{% load static %}
<div class="spacer"></div>
<div class="container">
  <div class="row">
    <div class="image__feature col-12 col-lg-6 zoom">
      <img src="{% static 'img/group.webp' %}" class="fade" alt="Hero Image">
    </div>

    <div class="px-2  px-lg-3 py-0 py-lg-4 flex__column right col-12 col-lg-6 zoom">
      <h2 class="left">My <span class="primary">Story</span></h2>
      <p class="gray medium-text right">
        I have always been fascinated by the technology and I have always been interested in how things work.
        I first began to learn programming while pursuing my Diploma in Full Stack Software Development at the Code Institute. 
        Through that program, I gained hands-on experience with UX Design, Full Stack Development. 
        Since then, I have helped build a number of web applications and websites for clients.
      </p>
      <div class="spacer-2 d-block d-none-lg"></div>
    </div>

  </div>
</div>