{% load static %}

<div id="services" class="spacer"></div>
<section>
  <div class="container fade-left">
    <div class="flex__column">
      <h2 class="px-2 px-md-4 gray left">My <span class="primary">approach</span></h2>
    </div>
    <div class="spacer-2"></div>
    <div class="services row px-0 px-md-2">
      <div class="col-12 col-md-6 col-xl-4 right">
        <div class="p-2 flex__column">
          <img src="{% static 'icons\icon_users_.svg' %}" alt="Python" class="img-fluid">
          <h4 class="dark"><span class="primary">Collaboration:</span></h4>
          <p class="dark medium-text">Closely collaborating with clients to comprehend their
            website goals and vision. This way, the end result is a reflection of your brand and meets all of your
            expectations.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-4 left">
        <div class="p-2 flex__column">
          <img src="{% static 'icons\icon_edit_.svg' %}" alt="React" class="img-fluid">
          <h4 class="dark"><span class="primary">Customization:</span></h4>
          <p class="dark medium-text"> Rather than relying on pre-made designs or templates, I specialize in creating
            custom website designs that are specifically tailored to your brand and unique needs.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-4 right">
        <div class="p-2 flex__column">
          <img src="{% static 'icons\icon_light_bulb_.svg' %}" alt="Linux" class="img-fluid">
          <h4 class="dark"><span class="primary">Innovation:</span></h4>
          <p class="dark medium-text">Staying up-to-date with the latest web design and development trends, I leverage
            innovative techniques to craft a website that differentiates your brand from the competition.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>