{% load static %}

<div class="spacer"></div>
<section>
  <div class="bg-primary">
    <div class="container">
      <div class="p-2 py-4 py-lg-6 p-sm-3">
        <p class="light text-center large-text">
          My goal is to provide high-quality and accessible experiences
          that meet the needs of a wide range of users
          with a focus on cross-device compatibility and responsive design.
        </p>
      </div>
    </div>
  </div>
  <div class="feature-text__box-6deg">
  </div>
</section>