{% load static %}
<div class="spacer"></div>
<section class="container">
  <article class="flex__column">
    <div class=" flex__column px-2 px-md-3 col-12 col-lg-10 mx-auto text-center text-sm-left">
      <h2 class="left icon"> Hackathon
        <span class="primary">Winner</span>
        </h2>
      <p class="light medium-text">
        In September 2022, as part of a team, I had the honor of winning first place in a Hackathon organized by
        the Code Institute, Deloitte Trust in Soda.
      </p>
    </div>
    <div class="spacer-1"></div>
    <div class="image__feature relative col-12 col-lg-10 mx-auto">
      <img src="{% static 'img/hackathon.webp' %}" alt="Hero Image">
    </div>
  </article>
</section>