{% load static %}
<div class="spacer"></div>
<div class="container">
  <div class="row">
    <div class="image__feature col-12 col-lg-6 d-none d-lg-block">
      <img src="{% static 'img/staggered.webp' %}"alt="Hero Image">
    </div>

    <div class="px-2  px-lg-3 py-0 py-lg-4 flex__column col-12 col-lg-6 justify-column-center">
      <h2 class="left">Software <span class="primary">Development</span></h2>
      <p class="gray large-text">
       In 2021, I pursued a Diploma in Full Stack Software Development at the Code Institute, where I gained practical
       experience in UX Design and Full Stack Development.
      </p>
    </div>

  </div>
</div>