<div class="left">
  <div class="spacer"></div>
  <div class="container contact fade-left">
    <article id="how" class="row bg-primary">
      <div class="col-12 col-md-6 bg-light p-2 p-md-3">
        <div class="spacer-2"></div>
        <h2 class="gray left"> Let me break it down for you.. </h2>
        <div class="spacer-2"></div>
        <p class="dark large-text right">
         Here are the main benefits you'll get when you work with me to create
          a mobile-friendly website:</p>
      </div>
      <div class="col-12 col-md-6 bg-primary">
        <div class="spacer-2 d-block d-md-none"></div>
        <ul class="list-unstyled p-2 p-md-3">
          <li class="white form-text right">
            <i class="fas fa-check"></i>Custom design: I'll work closely with you to understand your brand, your target
            audience, and
            your goals, so that I can create a custom design that perfectly fits your needs. You'll end up with a
            website that not only looks great, but also speaks to your audience and

          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i>Reach more customers: With a mobile-friendly website, you'll be able to reach
            more customers than
            ever before. People are constantly on the go, and having a website that's easy to access on a mobile device
            means you can tap into that market and expand your reach.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i>Increase engagement: When your website is user-friendly and easy to navigate,
            people are more likely
            to stay on your site and engage with your content. This means more time spent on your site, more pages
            viewed, and ultimately more chances for you to convert those visitors into customers.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i>Drive more sales: Ultimately, a mobile-friendly website can help you drive more
            sales. When
            people can easily access your site and engage with your content, they're more likely to make a purchase or
            take the action you want them to take.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i> Future-proof your website: Finally, by creating a mobile-friendly website,
            you'll be future-proofing your site. As new devices and technologies emerge, your website will be able to
            adapt and stay up-to-date, so you'll never have to worry about falling behind the times.
          </li>
        </ul>
          <div class="spacer-2"></div>
      </div>
    </article>
  </div>
</div>