{% load static %}
<div class="spacer"></div>
<div class="container">
  <div class="row">


    <div class="px-2  px-lg-3 py-0 py-lg-4 flex__column col-12 col-lg-6 justify-column-center">
      <h2 class="left">Hackathon <span class="primary">Winner</span></h2>
      <p class="gray large-text">
        In September 2022, our team won the Code Institute, Deloitte, and Trust In SODA's Hybrid Hackathon. We developed
        Genquality, a web app to evaluate users' understanding of gender gap issues in the workplace, and came in first
        place.
      </p>
    </div>
    <div class="image__feature col-12 col-lg-6">
      <img src="{% static 'img/hackathon.webp' %}"alt="Hero Image">
    </div>
  </div>
</div>