<div class="left">
    <div class="spacer"></div>
    <div class="container contact fade-left">
        <article id="how" class="row bg-primary">
            <div class="col-12 col-md-6 bg-light p-2 p-md-3">
                <div class="spacer-2"></div>
                <h2 class="gray left"> How I Can <span class="primary">Help</span></h2>
                <div class="spacer-2"></div>
                <p class="dark large-text right">
                    I can help youwith variety of web design and development services. I can help you with the following:
                </p>
            </div>
            <div class="col-12 col-md-6 bg-primary">
                <div class="spacer-2 d-block d-md-none"></div>
                <ul class="list-unstyled p-2 p-md-3">
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Building a website that is easy to navigate and provides a 
                        great user experience.
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Rebuiding your existing website to make it mobile-friendly and user-friendly.
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Creating a custom design that reflects your brand and attracts
                        more customers.
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Using responsive design techniques to ensure that your website 
                        functions well on any device
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Providing ongoing support and maintenance to ensure that your
                        website remains up-to-date.
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Ensure SEO best practices are implemented to help your website 
                        rank higher in search engines.
                    </li>
                </ul>
                    <div class="spacer-2"></div>
            </div>
        </article>
    </div>
</div>