{% load static %}
<div class="">
    <div class="spacer"></div>
    <div class="container contact">
        <article id="how" class="row bg-gray9 px-1 px-lg-2 py-6">
            <div class="col-12 col-lg-6 justify-column-center px-1">
                <h2 class="light">
                    Software <span class="primary">Development</span></h2>
                <div class="spacer-2"></div>
                <p class="light medium-text">
                    In 2021, I pursued a Diploma in Full Stack Software Development at the Code Institute, 
                    where I gained practical experience in UX Design and Full Stack Development.
                </p>
                <div class="spacer-2 d-block d-none-lg"></div>
            </div>
            <div class="col-12 col-lg-6 justify-column-center">

                <div class="row">
                    <div class="col-12 col-sm-6 light form-text px-1">
                        <div class="flex__row icon-sm">
                            <img src="{% static 'icons\group.svg' %}" alt="User experience">
                            <h6 class="light my-auto">UX Design <span class="primary">Principles</span></h6>
                        </div>
                        <p class="py-1">
                            I learned about usability, accessibility, user research, and user testing, which allowed me
                            to create applications that meet users' needs and expectations.
                    </div>
                    <div class="col-12 col-sm-6 light form-text icon-sm px-1">
                        <div class="flex__row icon-sm">
                            <img src="{% static 'icons\dev-mode-laptop.svg' %}" alt="Custom design">
                            <h6 class="light my-auto">Languages <span class="primary">Frameworks</span></h6>
                        </div>
                        <p class="py-1">
                            I gained a strong foundation in programming languages like HTML, CSS, JavaScript, and python.
                            I also learned the Django and flask frameworks.
                        </p>
                    </div>
                </div>
                <div class="spacer-2"></div>
                <div class="row">
                    <div class="col-12 col-sm-6 light form-text icon-sm px-1">
                        <div class="flex__row icon-sm">
                            <img src="{% static 'icons\project.svg' %}" alt="project">
                            <h6 class="light my-auto">Project Based <span class="primary">Learning</span></h6>
                        </div>
                        <p class="py-1">
                           The project-based curriculum of the Code Institute enabled me to utilize my technical skills
                           to solve real-world problems by building practical web applications.
                        </p>
                    </div>

                    <div class="col-12 col-sm-6 light form-text icon-sm px-1">
                        <div class="flex__row icon-sm">
                            <img src="{% static 'icons\industry.svg' %}" alt="Industry standart">
                            <h6 class="light my-auto"> Industry <span class="primary">Standards</span></h6>
                        </div>
                        <p class="py-1">
                            I gained knowledge of industry-standard tools and best practices, such as test-driven 
                            development and continuous integration/continuous deployment.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>