{% load static %}

<div class="spacer my-2"></div>
<section id="hero">
  <div class="container split">
    <div class="p-2 py-3 p-sm-3 py-xl-4 split__content m-0 m-sm-3 my-0 mr-0 fade-left">
      <h1 class="left header-text gray responsive_headline">Hi I’m <span class=" primary">Raivis</span></h1>
      <p class="large-text right">
        I am a web app designer and developer based in Ireland,
       I help businesses and individuals create custom websites that reflect their brand and attract more customers.</p>
      <a href="#goal" class="btn scrollto">Scroll to <span class="btn__icon">⮷</span></a>
    </div>
    <div class="split__img fade-right d-none d-md-block">
      <img src="{% static 'img/dev.jpg' %}" alt="Hero Image">
    </div>
  </div>
</section>