{% load static %}

<section id="about" class="section home__about">
    <div class="row about__row px">
        <div class="about__content col-12 col-md-6 h-100 px">
            <h2>Welcome to RP42 cloud</h2>
            <p class="pb-lg fade">
                We specialize in creating custom websites and web-based solutions for personal and small or
                medium sized businesses.
                We are passionate about what we do and we love to help our clients succeed online by providing
                them
                with the tools they need to grow their business or brand.
            </p>

            <p class="pb-lg fade">
                Our process starts with understanding your needs and goals. We then work with you to design and
                develop a solution that meets your specific requirements. Whether you need a simple website or a
                complex web-based application, we have the tools and experience to make it happen.
            </p>

            <p class="pb-lg fade">
                We pride ourselves on delivering high-quality products that are both functional and visually
                appealing. We also prioritize open communication and collaboration, ensuring that you are
                involved
                every step of the way.
            </p>

            <p class="pb-lg fade">
                Thank you for considering us for your web development needs. We look forward to working with
                you!
            </p>

            <p class="pb-lg fade">
                <a href="#contact" class="btn btn-primary">Contact Us</a>
            </p>
        </div>
        <div class="col-12 col-md-6 right" data-amount="20">
            <div class="about__img">
                <img src={% static 'images/197.svg' %} alt="About" class="img-fluid">
            </div>
        </div>
    </div>
</section>