<section class="container-600" id="about">
    <h2 class="display-3">About RP42 Cloud</h2>
     <h4 class="text-light-2">Welcome to Tech Landing RP42, your one-stop shop
         for all your web development needs. We are ready to help you
         build a website that will help you grow your
         business. Contact us today to get started!</h4>
    <p>RP42 Cloud is a web development company specializing in building modern, responsive websites and web
        applications. We have a team of experienced developers who are passionate about creating high-quality
        products for our clients.</p>
</section>
<section class="container-600" id="services">
    <h2> We offer a range of
        services, including:</h2>
    <ul>
        <li>Custom website design and development</li>
        <li>Responsive design and development</li>
        <li>Content management system (CMS) integration</li>
        <li>Search engine optimization (SEO)</li>
        <li>Website maintenance</li>
        <li>Website hosting</li>
    </ul>
</section>