{% load static %}

<div class="row x-hidden">
     <div class="row2 icon scroll-x mx-auto">
          <img src="{% static 'icons/corses/a+.webp' %}" class="img-fluid" alt="Comptia A +">
          <img src="{% static 'icons/corses/network.webp' %}" class="img-fluid" alt="Comptia network +">
          <img src="{% static 'icons/corses/security.webp' %}" class="img-fluid" alt="Comptia security +">
          <img src="{% static 'icons/corses/ccna.webp' %}" class="img-fluid" alt="Comptia security +">
          <img src="{% static 'icons/corses/microsoft.webp' %}" class="img-fluid" alt="Comptia security +">
     </div>
</div>