<!-- Header rp42 cloud -->

<div class="container w-100">
    <div class="row">
        <div class="header__content-left p col-12 col-md-6 m">
            <h1 class="rp text-gray text-nowrap">RP<span>42</span></h1>
            <h1 class="heading display-1 text-gray text-nowrap">Tech Landing</h1>
           
            <a href="#contact" class="btn btn-primary m mx-sm">Contact Us</a>
        </div>
        <div class="header__content-right col-12 col-md-6">
            
        </div>
    </div>
    
</div>