<!-- Header rp42 cloud -->
{% load static %}

<div class="container w-100 home">
    <div id="trigger3" class="row animate">
        <div class="col-12 col-md-6 home__content">
            <h1 class="text-nowrap anim">
                <span class="home__content-rp42 text-clip-gray">RP</spaan><span class="text-clip-primary">42</span></h1>
            <h2 class="anim home__heading display-1 text-gray text-nowrap">Tech Landing</h2>
            <a href="#contact" class="anim btn btn-primary m mx-sm animate">
                <i class="fa fa-envelope"></i>
                Contact Us</a>
        </div>
        <div class="col-12 col-md-6">
        </div>
    </div>
</div>

<script src="{% static 'js/home.js' %}"></script>