{% load static %}

<section id="services">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 bg-secondary">
            <div class="card left">
                <div class="card__body fade design">
                    <div class="card__icon">
                        <img src="{% static 'icons/monitor.svg' %}" alt="monitor icon" class="card__icon--img">
                    </div>
                    <h3 class="text-white">Custom Web Design:</h3>
                    <p class="text-white">I create custom websites teilor-made to your needs and specifications. I will work with you to create a website
                        that is visually appealing, easy to navigate, and meets your business or personal goals.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 bg-primary-light">
            <div class="card right">
                <div class="card__body fade maintenance">
                    <div class="card__icon">
                        <img src="{% static 'icons/settings.svg' %}" alt="settings icon" class="card__icon--img">
                    </div>
                    <h3 class="text-white">Website Maintenance:</h3>
                    <p class="text-white">Once your website is up and running, I offer website maintenance services to ensure that your website is always
                        up-to-date and functioning properly. I will work with you to create a website maintenance plan that fits your
                        needs.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 bg-blue">
            <div class="card left">
                <div class="card__body fade facelift">
                    <div class="card__icon">
                        <img src="{% static 'icons/edit.svg' %}" alt="edit icon" class="card__icon--img">
                    </div>
                    <h3 class="text-white">Website face-lifts:</h3>
                    <p class="text-white">I will update and modernize the appearance and design of an existing website. Facelift services can be
                        useful for businesses or individuals who want to give their website a fresh, new look and make it more appealing
                        to visitors.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4  bg-blue-accent">
            <div class="card right">
                <div class="card__body fade responsive">
                    <div class="card__icon">
                        <img src="{% static 'icons/smartphone.svg' %}" alt="smartphone icon" class="card__icon--img">
                    </div>
                    <h3 class="text-white">Responsive Design:</h3>
                    <p class="text-white">In today's digital age, it is crucial for websites to be mobile-friendly and easily accessible on a variety of
                        devices. That's why all of my web development projects include responsive design, ensuring that your website
                        looks and functions beautifully on desktop, tablet, and mobile devices.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 bg-primary">
            <div class="card left">
                <div class="card__body fade server">
                    <div class="card__icon">
                        <img src="{% static 'icons/server.svg' %}" alt="cloud icon" class="card__icon--img">
                    </div>
                    <h3 class="text-white">Website Hosting:</h3>
                    <p class="text-white">
                        I offer reliable and secure website hosting services to ensure that your website is always up and running
                        smoothly. We will work together to choose the best hosting plan for your website depending on your needs.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 bg-secondary-light">
            <div class="card right">
                <div class="card__body fade seo">
                    <div class="card__icon">
                        <img src="{% static 'icons/search.svg' %}" alt="search icon" class="card__icon--img">
                    </div>
                    <h3 class="text-white">SEO Included:</h3>
                    <p class="text-white">I understand the importance of search engine optimization (SEO) in driving traffic to your website and improving
                        its visibility online. That's why I include basic SEO in all of my web development projects to help improve your
                        search engine ranking and bring in more qualified leads.</p>
                </div>
            </div>
        </div>
    </div>
</section>