<div class="left">
  <div class="spacer"></div>
  <div class="container contact fade-left">
    <article id="how" class="row bg-primary">
      <div class="col-12 col-md-6 bg-light p-2 p-md-3">
        <div class="spacer-2"></div>
        <h2 class="gray left"> Let me break it down for you...</h2>
        <div class="spacer-2"></div>
        <p class="dark large-text right">
         Here are the main benefits you'll get when you work with me to create
          a custom and mobile-friendly website:</p>
      </div>
      <div class="col-12 col-md-6 bg-primary">
        <div class="spacer-2 d-block d-md-none"></div>
        <ul class="list-unstyled p-2 p-md-3">
          <li class="white form-text right">
            <i class="fas fa-check"></i>A website that's tailored to your brand: Your website should be a true
            reflection of your brand. I'll work closely with you to understand your brand's values, identity, and goals,
            and then create a custom design that reflects these aspects of your brand. This will help to create a
            cohesive and authentic online presence that truly represents your business.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i>Responsive design: Your website needs to be accessible and easy to use on all
            devices. I'll make sure that your custom design is fully responsive, meaning that it looks great and
            functions well on all devices, from desktop computers to mobile phones.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i>IUser-friendly functionality: A great design is important, but so is
            functionality. I'll make sure that your website is user-friendly and easy to navigate, so that visitors can
            find what they're looking for quickly and easily. This will help to improve user experience and increase
            engagement on your website.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i>Drive more sales: Ultimately, a mobile-friendly website can help you drive more
            sales. When
            people can easily access your site and engage with your content, they're more likely to make a purchase or
            take the action you want them to take.
          </li>
          <li class="white form-text right">
            <i class="fas fa-check"></i> Future-proofing: A custom website is a great investment in the future of your
            business. I'll make sure that your website is built using the latest web development technologies and best
            practices, so that it's always up-to-date and able to adapt to any new devices or technologies that come
            along.
          </li>
        </ul>
          <div class="spacer-2"></div>
      </div>
    </article>
  </div>
</div>