{% load static %}

<div class="spacer"></div>
<section>
  <div class="container fade-right row">
      <article class="px-2 px-md-4 col-12 col-md-10">
        <h2 class="dark left">Unique and creative design</h2>
                    <div class="spacer-2"></div>
        <p class="dark large-text left">
            A custom web development project is the perfect opportunity to get creative with your website design. I'll
            work with you to create a unique and visually stunning design that sets you apart from your competitors and
            captures the attention of your target audience.
        </p>
      </article>
  </div>
</section>