{% load static %}

<div class="spacer"></div>
<section id="contact">
    <div class="container split">
        <div class="p-2 py-3 p-sm-3 py-xl-4 split__content m-0 m-sm-3 my-0 mr-0 fade-left">
            <h2 class="gray right">Ready to take your website to the next level?</h2>
            <p class="dark large-text left">
                Let's make your website stand out and give
                your online presence the boost it deserves!</p>
            <a href="{% url 'contact' %}" class=" btn scrollto">Get in touch <span class="btn__icon">⮱</span></a>
        </div>
        <div class="split__img fade-right d-none d-sm-block">
            <img src="{% static 'img/contact.webp' %}" class="rotate-7deg" alt="Hero Image">
        </div>
    </div>
</section>