{% load static %}

<section>
  <div class="spacer"></div>
  <div class="container fade-left">
    <div class="flex__column">
      <h2 class="px-2 mx-md-4 gray text-center left">Some of the benefits of a mobile-friendly website include:
      </h2>

      <p class="px-2 mx-md-4 gray left large-text"></p>
    </div>
    <div class="spacer-2"></div>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4 right">
        <div class="flex__item px-2 mx-md-4">
          <img src="{% static 'icons/icon_users_.svg' %}" alt="Python" class="img-fluid">
          <h3 class="dark">User <span class="primary">experience:</span></h3>
          <p class="dark"> 
            A mobile-friendly website improves the user experience. When your website is easily accessible and readable
            on any device, visitors are more likely to stay on your site for longer and engage with your content. This
            can lead to better brand recognition and customer loyalty.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-4 left">
        <div class="flex__item px-2 mx-md-4">
          <img src="{% static 'icons/icon_search_.svg' %}" alt="seo" class="img-fluid">
          <h3 class="dark">Improved <span class="primary">SEO:</span></h3>
          <p class="dark"> 
            Mobile-friendly websites rank higher on search engines. That's because search engines recognize the
            importance of mobile accessibility, and prioritize mobile-friendly websites in their search results. This
            means more people will find your website, increasing your visibility and organic traffic.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-4 right">
        <div class="flex__item px-2 mx-md-4">
          <img src="{% static 'icons/icon_light_bulb_.svg' %}" alt="Linux" class="img-fluid">
          <h3 class="dark">Increased <span class="primary">conversion :</span></h3>
          <p class="dark"> 
            Mobile-friendly websites lead to increased conversion rates. When visitors can easily navigate and use your
            website on any device, they're more likely to take action and convert into customers. This means more leads
            and sales for your business.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>