{% load static %}
<div id="what" class="spacer"></div>
<div class="container row bg-light">
  <div class="image__feature col-12 col-lg-6 zoom">
    <img src="{% static 'img/devices33.png' %}" alt="Hero Image">
  </div>
  <div class="px-2 px-lg-3 py-0 py-lg-4 flex__column zoom col-12 col-lg-6">
    <h2 class="left">Why mobile-friendly website?</h2>
    <p class="gray medium-text">
      Having a mobile-friendly website isn't just about making your site look pretty on a phone screen. It's about
      creating a
      seamless user experience that draws people in and keeps them engaged.

    </p>

    <a href="#will" class="mt-3 primary btn-outline large-text">Read more <i class="fas fa-arrow-down"></i></a>
      
      <div class="spacer-2 d-block d-none-lg"></div>
  </div>
</div>