{% load static %}

<div class="spacer"></div>
<section id="goal" class="fade-left container">
  <div class="px-2 px-sm-3 col-12 col-md-10 mx-auto">
    <div class="spacer-2"></div>
    <p class="gray large-text left text-center">
     Technology is always evolving, and with that comes changes in the way we use our devices. 
     A mobile-friendly website ensures that your site is future-proof, and 
     that you won't be left behind as technology continues to advance.
    </p>
  </div>
</section>