{% load static %}

<div class="spacer"></div>
<section>
  <div class="container fade-right row">
      <article class="px-2 px-md-4 col-12 col-md-10">
        <h2 class="dark left">How I Can Help transform your business?</h2>
        <div class="spacer-2"></div>
        <p class="dark large-text left">
           I'll work closely with you to understand your brand, your target audience, and your goals, and then create a
           custom design that's both visually stunning and user-friendly. With a mobile-friendly website, you'll be able
           to reach more customers, increase engagement, and ultimately drive more sales. And the best part? You'll be
           future-proofing your website, ensuring it's always up-to-date and able to adapt to any new device that comes
           along.
        </p>
      </article>
  </div>
</section>