{% load static %}

<div class="spacer"></div>
<section id="contact">
    <div class="split container">
        <div class="p-2 py-3 p-sm-3 bg-white9 py-xl-4 split__content m-0 m-sm-3 my-0 mr-0 fade-left">
            <h2 class="gray right">Get in <span class=" primary">touch</span></h2>
            <p class="medium-text right">
                I'm eager to hear about your project and discuss how I can bring your vision to
                reality. I look forward to the opportunity and creating something amazing!</p>
            <a href="{% url 'contact' %}" class=" btn scrollto">Get in touch <span class="btn__icon">⮱</span></a>
        </div>
        <div class="split__img fade-right d-none d-sm-block">
            <img src="{% static 'img/contact3.jpg' %}" class="rotate-7deg" alt="Hero Image">
        </div>
    </div>
</section>