{% load static %}

<div class="spacer"></div>
<section id="specialize">
  <div class="container fade-right row">
      <article class="px-2 px-md-4 col-12 col-md-10">
        <h2 class="dark left">When I say "accessible experiences" I mean... </h2>
                    <div class="spacer-2"></div>
        <p class="dark large-text left">
           Websites that can be used by everyone, regardless of their
           ability or device. I believe that a website should be easy to use and navigate, no matter who you are or what
           device you're using. That's why I focus on cross-device compatibility and responsive design.
        </p>
      </article>
  </div>
</section>