{% load static %}

<div class="spacer"></div>
<section>
  <div class="container fade-right">
    <div class="container">
     <div class="px-2  px-sm-3 flex__column">
       <h2 class="left">Responsive <span class="primary">Design</span></h2>
       <p class="gray medium-text right">
         In the digital age, a mobile-friendly website is essential, not optional. It guarantees easy accessibility and
         readability on multiple devices. I specialize in responsive design and can help you transform your website into
         a mobile-friendly site that attracts more customers and improves your online presence.</p>
     </div>
    </div>
  </div>
</section>