{% load static %}

<div class="spacer"></div>
<section class="container device fade-right">
  <div class="px-2 px-sm-3 bg-white9 feature-text flex__column">
    <h2 class="right">Responsive <span class="primary">Design</span></h2>
    <p class="gray large-text right">
      Set yourself apart in a crowded market by providing a distinct and outstanding
      user experience through a web application optimized for all devices.</p>
  </div>
  <div class="image__feature">
    <img src="{% static 'img/devices3.jpg' %}" alt="Hero Image">
  </div>
</section>