<div class="left">
    <div class="spacer"></div>
    <div class="container contact fade-left">
        <article id="how" class="row bg-primary">
            <div class="col-12 col-md-6 bg-light p-2 p-md-3">
                <div class="spacer-2"></div>
                <h3 class="gray left"> Are you ready to take your website to the next level..</h3>
                <div class="spacer-2"></div>
                <p class="dark large-text right">
                    I can help you create a website, so you can attract
                    more visitors and keep them coming back for more.
                    Here are just a few of the ways I can help you:
                </p>
            </div>
            <div class="col-12 col-md-6 bg-primary">
                <div class="spacer-2 d-block d-md-none"></div>
                <ul class="list-unstyled p-2 p-md-3">
                    <li class="white form-text right">
                        <i class="fas fa-check"></i>
                        With my expertise in the latest web design trends and
                        technologies, I can help you stay ahead of your competitors and make sure your website is always
                        up-to-date and on-trend.
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i>
                        By working with me to create a beautiful,
                        functional, and user-friendly website, you'll be able to attract more visitors and keep them
                        coming back for more.
                        more customers
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i>
                        By
                        creating a website that's both visually stunning and user-friendly, I can help you improve your
                        online presence and make a lasting impression on your visitors.
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i>
                        By
                        creating a website that's
                        easy to navigate and provides a great user experience, I can help you increase engagement and
                        keep your visitors coming
                        back for more. website remains up-to-date and mobile-friendly
                    </li>
                    <li class="white form-text right">
                        <i class="fas fa-check"></i> Boost your sales By creating a website that's easy to use, visually
                        stunning, and
                        optimized for conversions, I can help you boost your sales and grow your business.
                    </li>
                    <div class="spacer-2"></div>
            </div>
        </article>
    </div>
</div>