{% load static %}

<div class="spacer"></div>
<section>
  <div class="container fade-right row">
      <article class="px-2 px-md-4 col-12 col-md-10">
        <h2 class="gray left">My focus on cross-device compatibility... </h2>
                    <div class="spacer-2"></div>
        <p class="dark large-text left">
            Responsive web development isn't just about making your website look good.
           It's about making sure that everyone can access and use your website, regardless of their ability or device.
           By providing high-quality and accessible experiences, I'm helping you reach a wider audience and provide a
           better user experience for everyone.
        </p>
      </article>
  </div>
</section>