{% load static %}
<div class="spacer"></div>
<section class="container device fade-right row bg-light">
  <div class="image__feature col-12 col-lg-6">
    <img src="{% static 'img/devices33.png' %}" alt="Hero Image">
  </div>
  <div class="px-2  px-lg-3 py-4 flex__column right col-12 col-lg-6">
    <h2 class="left">Responsive <span class="primary">Design</span></h2>
    <p class="gray medium-text right">
      In the digital age, a mobile-friendly website is essential, not optional. It guarantees easy accessibility and
      readability on multiple devices. I specialize in responsive design and can help you transform your website into
      a mobile-friendly site that attracts more customers and improves your online presence.</p>
</section>
</div>