{% load static %}

<div id="services" class="spacer"></div>
<section>
  <div class="container fade-left">
    <div class="flex__column">
      <h2 class="px-2 px-md-4 gray left">My <span class="primary">Services</span></h2>
      <p class="px-2 px-md-4 gray medium-text right">
        I offer a wide range of services to help you build your online presence.</p>
    </div>
    <div class="spacer-2"></div>
    <div class="p-0 px-sm-1 row">
      <div class="px-2 col-12 col-md-6 col-xl-4 text-center left">
        <div class="flex__item p-2 bg-primary">
          <img src="{% static 'icons\icon_pen_tool_.svg' %}" alt="Python" class="img-fluid">
          <h6 class="white">Custom Web Design:</h6>
          <p class="white">A unique and tailored website that reflects your brand's identity, values, and goals. It
            involves customizing every aspect of the website.</p>
        </div>
      </div>

      <div class="px-2 col-12 col-md-6 col-xl-4 text-center right">
        <div class="flex__item p-2 bg-light">
          <img src="{% static 'icons\icon_edit_.svg' %}" alt="React" class="img-fluid">
          <h6 class="dark">Website face-lifts:</h6>
          <p class="dark"> A redesign of the website to reflect current trends and standards, as well as any business
            changes for a modern, fresh look.</p>
        </div>
      </div>

      <div class="px-2 col-12 col-md-6 col-xl-4 text-center left">
        <div class="flex__item p-2 bg-primary">
          <img src="{% static 'icons\icon_maximize_.svg' %}" alt="Linux" class="img-fluid">
          <h6 class="white">Responsive Design:</h6>
          <p class="white">Adapting the website to be responsive and accessible across different screen sizes and
            devices, ensuring optimal user experience.</p>
        </div>
      </div>
    </div>
  </div>
</section>