{% load static %}

<div id="services" class="spacer"></div>
<section>
  <div class="containe">
    <div class="flex__column">
      <h2 class="px-2 px-md-4 gray fade"><span class="primary">Testimonials</span></h2>
    </div>
    <div class="spacer-2"></div>
    <div class="row testimonials">

      <div class="col-12 col-md-6 col-xl-4 right px-2 zoom">
        <div class="flex__column flex-between py-3 bg-light px-2">
          <i class="fas fa-quote-left fa-2x primary fs-8"></i>
          <p class="dark">Raivis has been an intergeral part of our online division in From Lads to Dads.
            His knowledge, expertise and understanding of the online section of our charity has been second to none. He
            has built and maintained our online division, bringing it together with the social media end which is very
            important to todays businesses. We are happy to count Raivis as part of our team.</p>
          <div class="row">
            <div class="col-4">
              <img src="{% static 'img/testimonials/Jeff_img.jpeg' %}" alt="Jeff Downes" class="round">
            </div>
            <div class="flex-center col-8">
              <ul class="list-unstyled">
                <li class="gray">Jeff Downes</li>
                <li class="gray">Director of the board FLTD</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-4 right px-2 zoom">
        <div class="flex__column flex-between py-3 bg-light px-2">
          <i class="fas fa-quote-left fa-2x primary fs-8"></i>
          <p class="dark">Raivis was hired as our web developer. Our industry is focused on internet and social network
            support. Thanks to Raivis, our company has achieved incredibly high results. Through his work, we have made
            contact with countless customers, and our customer base continues to grow every day. We are happy to have
            worked with Raivis..</p>
          <div class="row">
            <div class="col-4">
              <img src="{% static 'img/testimonials/ed_img.jpg' %}" alt="Jeff Downes" class="round">
            </div>
            <div class="flex-center col-8">
              <ul class="list-unstyled">
                <li class="gray">Ed Tattoo</li>
                <li class="gray">edtattoo.no</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

        <div class="col-12 col-md-6 col-xl-4 right px-2 zoom">
          <div class="flex__column flex-between py-3 bg-light px-2">
            <i class="fas fa-quote-left fa-2x primary fs-8"></i>
            <p class="dark">Raivis made an amazing web page for us. I have tried it myself many times and I am very glad
              that I found it and our page looks very bright and professional. In a short time with 100% feedback, he
              takes into account all the wishes and also gives advice, which is often very helpful. Definitely made my
              life easier.</p>
            <div class="row">
              <div class="col-4">
                <img src="{% static 'img/testimonials/jane.webp' %}" alt="Jeff Downes" class="round">
              </div>
              <div class="flex-center col-8">
                <ul class="list-unstyled">
                  <li class="gray">Jane</li>
                  <li class="gray">Tattoo SK Workshop administrator </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

    </div>
</section>