{% load static %}

<div class="spacer"></div>
<section>
  <div class="container fade-right row">
      <article class="px-2 px-md-4 col-12 col-md-10">
        <p class="dark large-text left text-center">
            Responsive web development isn't just about making your website look good.
           It's about making sure that everyone can access and use your website. I'm helping you reach a wider audience and provide a
           better user experience for everyone.
        </p>
      </article>
  </div>
</section>