{% load static %}

<div class="spacer"></div>
<section>
  <div class="container row">
      <article class="px-2 px-md-4 col-12 col-md-10 fade">
        <p class="dark large-text text-center">
            I'll make sure that your new design is optimized for all devices,
            including smartphones and tablets. This will ensure that your website looks great and
            functions well on any device, improving your online presence and accessibility.
        </p>
      </article>
  </div>
</section>