{% load static %}

<div class="spacer"></div>
<section class="container device fade-right">
  <div class="row flex__center px-0 px-md-3">
    <div class="image__feature bg-primary col-12 col-md-6">
      <img src="{% static 'img/devices2.jpg' %}" alt="Hero Image">
    </div>
    <div class="text__container col-12 col-md-6">
      <div class="feature-text bg-primary px-2 px-sm-3">
        <h2 class="right">Responsive <span class="primary">Design</span></h2>
        <p class="gray large-text right">
          Set yourself apart in a crowded market by providing a distinct and outstanding
          user experience through a web application optimized for all devices.</p>
      </div>
    </div>
  </div>
</section>