{% load static %}

<div class="spacer"></div>
<section class="up bg-light">
  <div class="row flex__center">
    <div class="image__feature col-12 col-sm-6">
      <img src="{% static 'img/devices2.jpg' %}" alt="Hero Image">
    </div>
    <div class="col-12 col-sm-6">
      <p class="feature-text px-2 px-md-4 gray large-text">
        Set yourself apart in a crowded market by providing a distinct and outstanding<br>
        user experience through a web application optimized for all devices.</p>
    </div>
  </div>
</section>
<section class="up bg-light">
  <div class="row flex__center">
    <div class="feature-text col-12 col-sm-6 order1 order2-md">
      <p class="px-2 px-md-4 gray large-text">
        Set yourself apart in a crowded market by providing a distinct and outstanding<br>
        user experience through a web application optimized for all devices.</p>
    </div>
    <div class="image__feature col-12 col-sm-6 order2 order1-md">
      <img src="{% static 'img/devices2.jpg' %}" alt="Hero Image">
    </div>
  </div>
</section>
<section class="up bg-light">
  <div class="row flex__center">
    <div class="image__feature col-12 col-sm-6">
      <img src="{% static 'img/devices2.jpg' %}" alt="Hero Image">
    </div>
    <div class="feature-text col-12 col-sm-6">
      <p class="px-2 px-md-4 gray large-text">
        Set yourself apart in a crowded market by providing a distinct and outstanding<br>
        user experience through a web application optimized for all devices.</p>
    </div>
  </div>
</section>