{% load static %}

<div id="services" class="spacer"></div>
<section>
  <div class="container fade-left">
    <div class="flex__column">
      <h2 class="px-2 px-md-4 gray left"><span class="primary">Testimonials</span></h2>
    </div>
    <div class="spacer-2"></div>
    <div class="row testimonials">
      <div class="col-12 col-md-6 col-xl-4 right bg-light">
        <div class="flex__item p-2 py-3">
          <i class="fas fa-quote-left fa-2x primary fs-8"></i>
          <p class="dark">Raivis has been an intergeral part of our online division in From Lads to Dads.
            His knowledge, expertise and understanding of the online section of our charity has been second to none. He
            has built and maintained our online division, bringing it together with the social media end which is very
            important to todays businesses. We are happy to count Raivis as part of our team.</p>
          <div class="spacer-2"></div>
          <div class="row">
            <div class="col-4">
              <img src="{% static 'img/testimonials/Jeff_img.jpeg' %}" alt="Jeff Downes" class="img-fluid round">
            </div>
            <div class="flex-center col-8">
              <ul class="list-unstyled">
                <li class="gray">Jeff Downes</li>
                <li class="gray">Director of the board FLTD</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>