{% load static %}

<div class="spacer my-2"></div>
<section id="hero">
  <div class="container split relative">
    <div class="p-2 py-3 p-sm-3 py-xl-4 split__content m-0 m-sm-3 my-0 mr-0 fade-left">
      <h1 class="left header-text gray responsive_headline">Application <span class=" primary">Development</span></h1>
      <p class="large-text right">
        I design and develop experiences that make people’s lives simple
      </p>
      <a href="#services" class="btn scrollto">Get Started <span class="btn__icon">⮷</span></a>

    </div>
    <div class="split__img fade-right">
      <img class="rotate-7deg" src="{% static 'img/header.jpg' %}" alt="Hero Image">
    </div>
  </div>
</section>