{% load static %}

<div class="spacer"></div>
<section id="hero">
  <div class="container split relative">
    <div class="p-2 py-3 p-sm-3 py-xl-4 split__content m-0 m-sm-3 my-0 mr-0">
      <h1 class="gray">Application <span class=" primary">Development</span></h1>
      <p class="large-text">
        I design and develop experiences that make people’s lives simple
      </p>
      <a href="#contact" class="btn scrollto">Get Started</a>
    </div>
    <div class="split__img bg-primary">
      <img src="{% static 'img/hero-img.jpg' %}" alt="Hero Image">
    </div>
  </div>
</section>