{% load static %}

<div class="spacer"></div>
<section>
  <div class="bg-gray9">
    <div class="container tech">Enfield, Johnstown, Co. Meath
      <div class="row2 tech scroll-x p-0 py-2 py-lg-4 p-sm-2">

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\python.svg' %}" alt="Python">
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\django.svg' %}" alt="Django">
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\flask.svg' %}" alt="flask">
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\jinja.svg' %}" alt="jinja">
        </div>
        
        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\react.svg' %}" alt="React">
        </div>
        
        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\javascript.svg' %}" alt="JavaScript">
        </div>
        
        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\babel.svg' %}" alt="babel">
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\nodejs.svg' %}" alt="nodejs">
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\gsap.svg' %}" alt="gsap">
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\nginx.svg' %}" alt="nginx">
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\linux.svg' %}" alt="Linux">
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\github.svg' %}" alt="github">
        </div>

        <div class="flex__item p-2">
          <img src="{% static 'icons\tech\git.svg' %}" alt="git">
        </div>

      </div>
    </div>
  </div>
</section>