<div class="">
    <div class="spacer"></div>
    <div class="container contact">
        <article id="how" class="row bg-gray9 py-3">
            <div class="col-12 col-md-6 p-2 p-md-3 justify-column-center">
                <h2 class="light"> How I Can <span class="primary">Help</span></h2>
                <div class="spacer-2"></div>
                <p class="light large-text right">
                    I can help you with variety of web design and development services. I can help you with the following:
                </p>
            </div>
            <div class="col-12 col-md-6 p-2 p-md-3 justify-column-center">
                
                <ul class="list-unstyled">
                    <li class="light form-text right">
                        <i class="fas fa-check"></i> Building a website that is easy to navigate and provides a 
                        great user experience.
                    </li>
                    <li class="light form-text right">
                        <i class="fas fa-check"></i> Rebuiding your existing website to make it mobile-friendly and user-friendly.
                    </li>
                    <li class="light form-text right">
                        <i class="fas fa-check"></i> Creating a custom design that reflects your brand and attracts
                        more customers.
                    </li>
                    <li class="light form-text right">
                        <i class="fas fa-check"></i> Using responsive design techniques to ensure that your website 
                        functions well on any device
                    </li>
                    <li class="light form-text right">
                        <i class="fas fa-check"></i> Providing ongoing support and maintenance to ensure that your
                        website remains up-to-date.
                    </li>
                    <li class="light form-text right">
                        <i class="fas fa-check"></i> Ensure SEO best practices are implemented to help your website 
                        rank higher in search engines.
                    </li>
                </ul>
            </div>
        </article>
    </div>
</div>