{% load static %}

<div id="will" class="spacer"></div>
<section>
  <div class="container">
      <article class="px-2 px-md-4 col-12 col-md-10  mx-auto">
        <p class="light medium-text">
            I'll make sure that your new design is optimized for all devices,
            including smartphones and tablets. This will ensure that your website looks great and
            functions well on any device, improving your online presence and accessibility.
        </p>
      </article>
  </div>
</section>