{% load static %}

<div id="services" class="spacer"></div>
<section>

  <div class="container">
    <div class="flex__column px-2 px-md-2">
      <h2 class="light text-center text-sm-left">My <span class="primary">Services</span></h2>
    
    <div class="row tech flex__center">

      <div class="px-0 px-md-1 col-12 col-md-6 col-lg-4">
        <div class="flex__column px-2 py-3 bg-gray9 ">
          <div class="row gap-1 icon-sm">
            <img src="{% static 'icons/design-nib.svg' %}" alt="Pen tool">
            <h6 class="text-white my-auto">Development</h6>
          </div>
          <p class="text-white"> I offer custom website design and development services that are mobile-friendly and
            easy to use.
          </p>
        </div>
      </div>

      <div class="px-0 px-md-1 col-12 col-md-6 col-lg-4">
        <div class="flex__column px-2 py-3 bg-gray9 ">
          <div class="row2 gap-1 icon-sm">
            <img src="{% static 'icons\agile.svg' %}" alt="edit">
            <h6 class="text-white my-auto">Refactor</h6>
          </div>
          <p class="text-white">I specialize in transforming outdated websites into modern, mobile-friendly, and
            user-friendly websites.
          </p>
        </div>
      </div>

      <div class="px-0 px-md-1 col-12 col-md-6 col-lg-4">
        <div class="flex__column px-2 py-3 bg-gray9 ">
          <div class="row2 gap-1 icon-sm">
            <img src="{% static 'icons\tools.svg' %}" alt="Settings">
            <h6 class="text-white my-auto">Maintenance</h6>
          </div>
          <p class="text-white"> I provide ongoing website maintenance to ensure your website remains up-to-date and
            secure.</p>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>