{% load static %}
<div class="">
    <div class="spacer"></div>
    <div class="container contact">
        <article id="how" class="row bg-gray9 px-4 px-lg-2 py-6">
            <div class="col-12 col-lg-6 justify-column-center px-4">
                <h2 class="light"> Working with<span class="primary"> me</span></h2>
                <div class="spacer-2"></div>
                <p class="light medium-text">
                    Whether you want a clean and minimalistic look or something more bold and eye-catching, I
                    can create a design that's tailored to your brand and your audience.
                </p>
                <div class="spacer-2 d-block d-none-lg"></div>	
            </div>
            <div class="col-12 col-lg-6 justify-column-center ">

                <div class="row">
                    <div class="col-12 col-sm-6 light form-text px-4">
                        <div class="flex__row gap-1 icon-sm">
                            <img src="{% static 'icons\user-love.svg' %}" alt="User experience">
                            <h6 class="light my-auto">User <span class="primary">Experience</span></h6>
                        </div>
                        <p class="py-1">
                            I prioritize user experience,
                            ensuring that your website is
                            easy to navigate and enjoyable to use.</p>
                    </div>
                    <div class="col-12 col-sm-6 light form-text icon-sm px-4">
                        <div class="flex__row gap-1 icon-sm">
                            <img src="{% static 'icons\design-nib.svg' %}" alt="Custom design">
                            <h6 class="light my-auto">Custom <span class="primary">Design</span></h6>
                        </div>
                        <p class="py-1">
                            I create custom designs that capture your brand's
                            personality and reflect your business goals.
                        </p>
                    </div>
                </div>
                <div class="spacer-2"></div>
                <div class="row">
                    <div class="col-12 col-sm-6 light form-text icon-sm px-4">
                        <div class="flex__row gap-1 icon-sm">
                            <img src="{% static 'icons\responsive.svg' %}" alt="responsive">
                            <h6 class="light my-auto">Responsive <span class="primary">Design</span></h6>
                        </div>
                        <p class="py-1">
                            I prioritize mobile friendly design, ensuring that your website looks great on all devices.
                        </p>
                    </div>

                    <div class="col-12 col-sm-6 light form-text icon-sm px-4">
                        <div class="flex__row gap-1 icon-sm">
                            <img src="{% static 'icons\search.svg' %}" alt="seo">
                            <h6 class="light my-auto">SEO best <span class="primary">practices</span></h6>
                        </div>
                        <p class="py-1">
                            I implement SEO best practices to help your website rank
                            higher in search engine results.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>