{% load static %}
<section class="row x-hidden">
  <div class="marquee__container x-scroll">
    <div class="marquee__text">
      <div class="p-2">
        <img src="{% static 'icons\tech\python.svg' %}" alt="Python">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\django.svg' %}" alt="Django">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\flask.svg' %}" alt="flask">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\jinja.svg' %}" alt="jinja">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\react.svg' %}" alt="React">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\javascript.svg' %}" alt="JavaScript">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\babel.svg' %}" alt="babel">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\nodejs.svg' %}" alt="nodejs">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\gsap.svg' %}" alt="gsap">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\nginx.svg' %}" alt="nginx">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\linux.svg' %}" alt="Linux">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\github.svg' %}" alt="github">
      </div>

      <div class="p-2">
        <img src="{% static 'icons\tech\git.svg' %}" alt="git">
      </div>

    </div>
  </div>
</section>