{% load static %}

<div id="services" class="spacer"></div>
<section>
  <div class="bg-gray9">
    <div class="container tech">
      <div class="row tech px-0 py-4 px-sm-2">

        <div class="flex__item p-2">
          <div class="flex__row icon">
            <img src="{% static 'icons/design-nib.svg' %}"
              alt="Pen tool">
            <h4 class="text-white my-auto">Development</h4>
          </div>
          <p class="text-white"> I offer custom website design and development services that are mobile-friendly and easy to use.
            </p>

        </div> 

        <div class="flex__item p-2">
          <div class="flex__row icon">
            <img src="{% static 'icons\agile.svg' %}" alt="edit">
            <h4 class="text-white my-auto">Refactor</h4>
          </div>
          <p class="text-white">I specialize in transforming outdated websites into modern, mobile-friendly, and
            user-friendly websites.
            </p>
        </div>

        <div class="flex__item p-2">
          <div class="flex__row icon">
            <img src="{% static 'icons\tools.svg' %}" alt="Settings">
            <h4 class="text-white my-auto">Maintenance</h4>
          </div>
          <p class="text-white"> I provide ongoing website maintenance to ensure your website remains up-to-date and
            secure.</p>
        </div>

      </div>
    </div>
  </div>
</section>