{% load static %}

<div id="benefits" class="spacer"></div>
<section>
  <div class="container">
    <div class="flex__column">
      <h2 class="light text-center px-2 text-sm-left">Benefits of a Custom made <span class="primary">website</span></h2>

      <p class="px-2 col-12 col-xl-9 mx-auto text-center text-sm-left medium-text">
        Custom development and design offers a number of benefits over pre-made templates and off-the-shelf solutions. 
        Some of the most important benefits include:
        <div class="spacer-1"></div>
      <div class="row tech flex__center stretch px-0 px-md-1">

        <div class="px-0 px-md-1 col-12 col-md-6 col-lg-4 stretch">
          <div class="flex__column gap-1 px-2 py-3 bg-gray9 ">
            <div class="row2 gap-1 icon-sm">
              <img src="{% static 'icons/check.svg' %}" alt="Pen tool">
              <h6 class="text-white my-auto">Be <span class="primary">Unique</span></h6>
            </div>
            <p class="text-white">
              Uniquely crafted to your specifications, your website will be a one-of-a-kind creation 
              that will set you apart from the competition.
            </p>
          </div>
        </div>

        <div class="px-0 px-md-1 col-12 col-md-6 col-lg-4 stretch">
          <div class="flex__column gap-1 px-2 py-3 bg-gray9 ">
            <div class="row2 gap-1 icon-sm">
              <img src="{% static 'icons\check.svg' %}" alt="user love">
              <h6 class="text-white my-auto">Less is <span class="primary">More</span></h6>
            </div>
            <p class="text-white">
              Site is lean and optimized for performance by avoiding unnecessary bloat that pre-made
              templates or off-the-shelf solutions often include.
            </p>
          </div>
        </div>

        <div class="px-0 px-md-1 col-12 col-md-6 col-lg-4 stretch">
          <div class="flex__column gap-1 px-2 py-3 bg-gray9 ">
            <div class="row2 gap-1 icon-sm">
              <img src="{% static 'icons\check.svg' %}" alt="Settings">
              <h6 class="text-white my-auto">Endless <span class="primary">Customization</span></h6>
            </div>
            <p class="text-white"> 
             I can incorporate unique features, functionality, and design elements to make your website 
             stand out from the crowd and meet your specific needs.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>