@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    /* Colors */
    /* 687759 666363 FFFFFF D9D9D9 323131 3F3D3D */
    --primary-color: #687759;
    --secondary-color: #b2b5ad;
    --black-color: #1f1f1e;
    --dark-color: #282928;
    --gray-color: #5a5959;
    --white-color: #c6cdc6;
    --light-color: #b9bdb9;

    --primary-color-09: rgba(104, 119, 89, 0.8);
    --secondary-color-09: rgba(178, 181, 173, 0.8);
    --black-color-09: rgba(31, 31, 30, 0.8);
    --dark-color-09: rgba(40, 41, 40, 0.8);
    --gray-color-09: rgba(90, 89, 89, 0.8);
    --white-color-09: rgba(198, 205, 198, 0.8);
    --light-color-09: rgba(185, 189, 185, 0.8);

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --tertiary-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--black-color);
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.x-hidden {
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

/* Font sizes base 32px scale 1.333 */
/* Sizing and spacing always in multiples of 8px */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
}

p,
a {
    font-family: var(--primary-font);
}

.list-unstyled {
    list-style: none;
}

.roboto {
    font-family: var(--primary-font);
}

.poppins {
    font-family: var(--secondary-font);
}

.montserrat {
    font-family: var(--tertiary-font);
}

h1 {
    font-size: 3.052rem;
    font-weight: 700;
    color: var(--white-color);
    line-height: 120%;
}

h2 {
    font-size: 2.488rem;
    font-weight: 700;
    color: var(--white-color);
    line-height: 120%;
}

h3 {
    font-size: 2.074rem;
    font-weight: 700;
    color: var(--white-color);
    line-height: 120%;
}

h4 {
    font-size: 1.728rem;
    font-weight: 700;
    color: var(--white-color);
    line-height: 120%;
}

h5 {
    font-size: 1.44rem;
    font-weight: 700;
    color: var(--white-color);
    line-height: 120%;
}

h6 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white-color);
}


p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
    line-height: 130%;
}

a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
    text-decoration: none;
}

.large-text {
    font-size: 1.8rem;
    color: var(--white-color);
}

.medium-text {
    font-size: 1.4rem;
    color: var(--white-color);
}

.fw-100 {
    font-weight: 100;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.fs-1 {
    font-size: 1rem;
}

.fs-2 {
    font-size: 1.2rem;
}

.fs-3 {
    font-size: 1.4rem;
}

.fs-4 {
    font-size: 1.8rem;
}

.fs-5 {
    font-size: 2.074rem;
}

.fs-6 {
    font-size: 2.488rem;
}

.fs-7 {
    font-size: 3.052rem;
}

.fs-8 {
    font-size: 3.784rem;
}

.fs-9 {
    font-size: 4.712rem;
}

.fs-10 {
    font-size: 5.867rem;
}

.fs-11 {
    font-size: 7.288rem;
}

.fs-12 {
    font-size: 9.024rem;
}

.fs-13 {
    font-size: 11.132rem;
}

.fs-14 {
    font-size: 13.68rem;
}

.fs-15 {
    font-size: 16.736rem;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.488rem;
    }

    h2 {
        font-size: 2.074rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    h4 {
        font-size: 1.44rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    a {
        font-size: 0.8rem;
    }

    .large-text {
        font-size: 1.4rem;
    }

    .medium-text {
        font-size: 1.2rem;
    }
}

a {
    text-decoration: none;
}

a:focus,
a:active,
a:hover {
    text-decoration: none;
}

/* =========Text========= */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .text-sm-center {
        text-align: center;
    }

    .text-sm-left {
        text-align: left;
    }

    .text-sm-right {
        text-align: right;
    }

    .text-sm-justify {
        text-align: justify;
    }
}



/* ========Colors========= */

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.white {
    color: var(--white-color);
}

.light {
    color: var(--light-color);
}

.dark {
    color: var(--black-color);
}

.gray {
    color: var(--dark-color);
}

.white9 {
    color: var(--white-color-09);
}

.dark9 {
    color: var(--black-color-09);
}

.light9 {
    color: var(--light-color-09);
}

.gray9 {
    color: var(--dark-color-09);
}

.primary9 {
    color: var(--primary-color-09);
}

.secondary9 {
    color: var(--secondary-color-09);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-white {
    background-color: var(--white-color);
}

.bg-light {
    background-color: var(--light-color);
}

.bg-dark {
    background-color: var(--black-color);
}

.bg-gray {
    background-color: var(--dark-color);
}

.bg-white9 {
    background-color: var(--white-color-09);
}

.bg-dark9 {
    background-color: var(--black-color-09);
}

.bg-light9 {
    background-color: var(--light-color-09);
}

.bg-gray9 {
    background-color: var(--dark-color-09);
}

.bg-primary9 {
    background-color: var(--primary-color-09);
}

.bg-secondary9 {
    background-color: var(--secondary-color-09);
}

/* ========Spacing========= */

.mt-0 {
    margin-top: 0rem;
}

.mb-0 {
    margin-bottom: 0rem;
}

.ml-0 {
    margin-left: 0rem;
}

.mr-0 {
    margin-right: 0rem;
}

.my-0 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.m {
    margin: 1rem;
}

.m-0 {
    margin: 0rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.m-6 {
    margin: 6rem;
}

.m-8 {
    margin: 8rem;
}

.m-12 {
    margin: 12rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.my-12 {
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-0 {
    margin-left: 0rem;
    margin-right: 0rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
}

.mx-12 {
    margin-left: 12rem;
    margin-right: 12rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.p-6 {
    padding: 6rem;
}

.p-8 {
    padding: 8rem;
}

.p-12 {
    padding: 12rem;
}

.pt-0 {
    padding-top: 0rem;
}

.pb-0 {
    padding-bottom: 0rem;
}

.pl-0 {
    padding-left: 0rem;
}

.pr-0 {
    padding-right: 0rem;
}

.px-0 {
    padding-left: 0rem;
    padding-right: 0rem;
}

.py-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.px-8 {
    padding-left: 8rem;
    padding-right: 8rem;
}

.py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.px-12 {
    padding-left: 12rem;
    padding-right: 12rem;
}

.py-12 {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

@media screen and (min-width: 480px) {
    .m-sm {
        margin: 1rem;
    }

    .m-sm-0 {
        margin: 0rem;
    }

    .m-sm-1 {
        margin: 1rem;
    }

    .m-sm-2 {
        margin: 2rem;
    }

    .m-sm-3 {
        margin: 3rem;
    }

    .m-sm-4 {
        margin: 4rem;
    }

    .m-sm-6 {
        margin: 6rem;
    }

    .m-sm-8 {
        margin: 8rem;
    }

    .m-sm-12 {
        margin: 12rem;
    }

    .my-sm-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .my-sm-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .my-sm-3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .my-sm-4 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .my-sm-6 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .my-sm-8 {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .my-sm-12 {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }

    .mx-sm-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .mx-sm-0 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .mx-sm-1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .mx-sm-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .mx-sm-3 {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .mx-sm-4 {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .mx-sm-6 {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .mx-sm-8 {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .mx-sm-12 {
        margin-left: 12rem;
        margin-right: 12rem;
    }

    .m-sm {
        margin: 1rem;
    }

    .m-sm-0 {
        margin: 0rem;
    }

    .m-sm-1 {
        margin: 1rem;
    }

    .m-sm-2 {
        margin: 2rem;
    }

    .m-sm-3 {
        margin: 3rem;
    }

    .m-sm-4 {
        margin: 4rem;
    }

    .m-sm-6 {
        margin: 6rem;
    }

    .m-sm-8 {
        margin: 8rem;
    }

    .m-sm-12 {
        margin: 12rem;
    }

    .p-sm-1 {
        padding: 1rem;
    }

    .p-sm-2 {
        padding: 2rem;
    }

    .p-sm-3 {
        padding: 3rem;
    }

    .p-sm-4 {
        padding: 4rem;
    }

    .p-sm-6 {
        padding: 6rem;
    }

    .p-sm-8 {
        padding: 8rem;
    }

    .p-sm-12 {
        padding: 12rem;
    }

    .p-sm-0 {
        padding: 0rem;
    }

    .pt-sm-0 {
        padding-top: 0rem;
    }

    .pb-sm-0 {
        padding-bottom: 0rem;
    }

    .pl-sm-0 {
        padding-left: 0rem;
    }

    .pr-sm-0 {
        padding-right: 0rem;
    }

    .px-sm-0 {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .py-sm-0 {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .px-sm-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .py-sm-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .px-sm-2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .py-sm-2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .px-sm-3 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .py-sm-3 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .px-sm-4 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .py-sm-4 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .px-sm-6 {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .py-sm-6 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .px-sm-8 {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .py-sm-8 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .px-sm-12 {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .py-sm-12 {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

}

@media screen and (min-width: 768px) {
    .m-md {
        margin: 1rem;
    }

    .m-md-0 {
        margin: 0rem;
    }

    .m-md-1 {
        margin: 1rem;
    }

    .m-md-2 {
        margin: 2rem;
    }

    .m-md-3 {
        margin: 3rem;
    }

    .m-md-4 {
        margin: 4rem;
    }

    .m-md-6 {
        margin: 6rem;
    }

    .m-md-8 {
        margin: 8rem;
    }

    .m-md-12 {
        margin: 12rem;
    }

    .my-md-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .my-md-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .my-md-3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .my-md-4 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .my-md-6 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .my-md-8 {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .my-md-12 {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }

    .mx-md-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .mx-md-0 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .mx-md-1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .mx-md-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .mx-md-3 {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .mx-md-4 {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .mx-md-6 {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .mx-md-8 {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .mx-md-12 {
        margin-left: 12rem;
        margin-right: 12rem;
    }

    .m-md {
        margin: 1rem;
    }

    .m-md-0 {
        margin: 0rem;
    }

    .m-md-1 {
        margin: 1rem;
    }

    .m-md-2 {
        margin: 2rem;
    }

    .m-md-3 {
        margin: 3rem;
    }

    .m-md-4 {
        margin: 4rem;
    }

    .m-md-6 {
        margin: 6rem;
    }

    .m-md-8 {
        margin: 8rem;
    }

    .m-md-12 {
        margin: 12rem;
    }

    .p-md-1 {
        padding: 1rem;
    }

    .p-md-2 {
        padding: 2rem;
    }

    .p-md-3 {
        padding: 3rem;
    }

    .p-md-4 {
        padding: 4rem;
    }

    .p-md-6 {
        padding: 6rem;
    }

    .p-md-8 {
        padding: 8rem;
    }

    .p-md-12 {
        padding: 12rem;
    }

    .p-md-0 {
        padding: 0rem;
    }

    .pt-md-0 {
        padding-top: 0rem;
    }

    .pb-md-0 {
        padding-bottom: 0rem;
    }

    .pl-md-0 {
        padding-left: 0rem;
    }

    .pr-md-0 {
        padding-right: 0rem;
    }

    .px-md-0 {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .py-md-0 {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .px-md-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .py-md-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .px-md-2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .py-md-2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .px-md-3 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .py-md-3 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .px-md-4 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .py-md-4 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .px-md-6 {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .py-md-6 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .px-md-8 {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .py-md-8 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .px-md-12 {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .py-md-12 {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

@media screen and (min-width: 992px) {
    .m-lg {
        margin: 1rem;
    }

    .m-lg-0 {
        margin: 0rem;
    }

    .m-lg-1 {
        margin: 1rem;
    }

    .m-lg-2 {
        margin: 2rem;
    }

    .m-lg-3 {
        margin: 3rem;
    }

    .m-lg-4 {
        margin: 4rem;
    }

    .m-lg-6 {
        margin: 6rem;
    }

    .m-lg-8 {
        margin: 8rem;
    }

    .m-lg-12 {
        margin: 12rem;
    }

    .my-lg-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .my-lg-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .my-lg-3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .my-lg-4 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .my-lg-6 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .my-lg-8 {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .my-lg-12 {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }

    .mx-lg-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .mx-lg-1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .mx-lg-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .mx-lg-3 {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .mx-lg-4 {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .mx-lg-6 {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .mx-lg-8 {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .mx-lg-12 {
        margin-left: 12rem;
        margin-right: 12rem;
    }

    .m-lg {
        margin: 1rem;
    }

    .m-lg-0 {
        margin: 0rem;
    }

    .m-lg-1 {
        margin: 1rem;
    }

    .m-lg-2 {
        margin: 2rem;
    }

    .m-lg-3 {
        margin: 3rem;
    }

    .m-lg-4 {
        margin: 4rem;
    }

    .m-lg-6 {
        margin: 6rem;
    }

    .m-lg-8 {
        margin: 8rem;
    }

    .m-lg-12 {
        margin: 12rem;
    }

    .p-lg-1 {
        padding: 1rem;
    }

    .p-lg-2 {
        padding: 2rem;
    }

    .p-lg-3 {
        padding: 3rem;
    }

    .p-lg-4 {
        padding: 4rem;
    }

    .p-lg-6 {
        padding: 6rem;
    }

    .p-lg-8 {
        padding: 8rem;
    }

    .p-lg-12 {
        padding: 12rem;
    }

    .p-lg-0 {
        padding: 0rem;
    }

    .pt-lg-0 {
        padding-top: 0rem;
    }

    .pb-lg-0 {
        padding-bottom: 0rem;
    }

    .pl-lg-0 {
        padding-left: 0rem;
    }

    .pr-lg-0 {
        padding-right: 0rem;
    }

    .px-lg-0 {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .py-lg-0 {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .px-lg-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .py-lg-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .px-lg-2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .py-lg-2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .px-lg-3 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .py-lg-3 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .px-lg-4 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .py-lg-4 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .px-lg-6 {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .py-lg-6 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .px-lg-8 {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .py-lg-8 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .px-lg-12 {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .py-lg-12 {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

@media screen and (min-width: 1200px) {
    .m-xl {
        margin: 1rem;
    }

    .m-xl-0 {
        margin: 0rem;
    }

    .m-xl-1 {
        margin: 1rem;
    }

    .m-xl-2 {
        margin: 2rem;
    }

    .m-xl-3 {
        margin: 3rem;
    }

    .m-xl-4 {
        margin: 4rem;
    }

    .m-xl-6 {
        margin: 6rem;
    }

    .m-xl-8 {
        margin: 8rem;
    }

    .m-xl-12 {
        margin: 12rem;
    }

    .my-xl-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .my-xl-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .my-xl-3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .my-xl-4 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .my-xl-6 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .my-xl-8 {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .my-xl-12 {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }

    .mx-xl-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .mx-xl-1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .mx-xl-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .mx-xl-3 {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .mx-xl-4 {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .mx-xl-6 {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .mx-xl-8 {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .mx-xl-12 {
        margin-left: 12rem;
        margin-right: 12rem;
    }

    .m-xl {
        margin: 1rem;
    }

    .m-xl-0 {
        margin: 0rem;
    }

    .m-xl-1 {
        margin: 1rem;
    }

    .m-xl-2 {
        margin: 2rem;
    }

    .m-xl-3 {
        margin: 3rem;
    }

    .m-xl-4 {
        margin: 4rem;
    }

    .m-xl-6 {
        margin: 6rem;
    }

    .m-xl-8 {
        margin: 8rem;
    }

    .m-xl-12 {
        margin: 12rem;
    }

    .p-xl-1 {
        padding: 1rem;
    }

    .p-xl-2 {
        padding: 2rem;
    }

    .p-xl-3 {
        padding: 3rem;
    }

    .p-xl-4 {
        padding: 4rem;
    }

    .p-xl-6 {
        padding: 6rem;
    }

    .p-xl-8 {
        padding: 8rem;
    }

    .p-xl-12 {
        padding: 12rem;
    }

    .p-xl-0 {
        padding: 0rem;
    }

    .pt-xl-0 {
        padding-top: 0rem;
    }

    .pb-xl-0 {
        padding-bottom: 0rem;
    }

    .pl-xl-0 {
        padding-left: 0rem;
    }

    .pr-xl-0 {
        padding-right: 0rem;
    }

    .px-xl-0 {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .py-xl-0 {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .px-xl-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .py-xl-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .px-xl-2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .py-xl-2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .px-xl-3 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .py-xl-3 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .px-xl-4 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .py-xl-4 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .px-xl-6 {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .py-xl-6 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .px-xl-8 {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .py-xl-8 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .px-xl-12 {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .py-xl-12 {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

@media screen and (min-width: 1400px) {
    .m-xxl {
        margin: 1rem;
    }

    .m-xxl-0 {
        margin: 0rem;
    }

    .m-xxl-1 {
        margin: 1rem;
    }

    .m-xxl-2 {
        margin: 2rem;
    }

    .m-xxl-3 {
        margin: 3rem;
    }

    .m-xxl-4 {
        margin: 4rem;
    }

    .m-xxl-6 {
        margin: 6rem;
    }

    .m-xxl-8 {
        margin: 8rem;
    }

    .m-xxl-12 {
        margin: 12rem;
    }

    .my-xxl-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .my-xxl-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .my-xxl-3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .my-xxl-4 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .my-xxl-6 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .my-xxl-8 {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .my-xxl-12 {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }

    .mx-xxl-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .mx-xxl-1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .mx-xxl-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .mx-xxl-3 {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .mx-xxl-4 {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .mx-xxl-6 {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .mx-xxl-8 {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .mx-xxl-12 {
        margin-left: 12rem;
        margin-right: 12rem;
    }

    .m-xxl {
        margin: 1rem;
    }

    .m-xxl-0 {
        margin: 0rem;
    }

    .m-xxl-1 {
        margin: 1rem;
    }

    .m-xxl-2 {
        margin: 2rem;
    }

    .m-xxl-3 {
        margin: 3rem;
    }

    .m-xxl-4 {
        margin: 4rem;
    }

    .m-xxl-6 {
        margin: 6rem;
    }

    .m-xxl-8 {
        margin: 8rem;
    }

    .m-xxl-12 {
        margin: 12rem;
    }

    .p-xxl-1 {
        padding: 1rem;
    }

    .p-xxl-2 {
        padding: 2rem;
    }

    .p-xxl-3 {
        padding: 3rem;
    }

    .p-xxl-4 {
        padding: 4rem;
    }

    .p-xxl-6 {
        padding: 6rem;
    }

    .p-xxl-8 {
        padding: 8rem;
    }

    .p-xxl-12 {
        padding: 12rem;
    }

    .p-xxl-0 {
        padding: 0rem;
    }

    .pt-xxl-0 {
        padding-top: 0rem;
    }

    .pb-xxl-0 {
        padding-bottom: 0rem;
    }

    .pl-xxl-0 {
        padding-left: 0rem;
    }

    .pr-xxl-0 {
        padding-right: 0rem;
    }

    .px-xxl-0 {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .py-xxl-0 {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .px-xxl-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .py-xxl-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .px-xxl-2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .py-xxl-2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .px-xxl-3 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .py-xxl-3 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .px-xxl-4 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .py-xxl-4 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .px-xxl-6 {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .py-xxl-6 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .px-xxl-8 {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .py-xxl-8 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .px-xxl-12 {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .py-xxl-12 {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.container {
    height: 100%;
    max-width: 1980px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    gap: 2rem 0;
}

.row2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row !important;
    gap: 2rem 2rem;
}

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 1rem !important;
}

.gap-2 {
    gap: 2rem !important;
}

.gap-3 {
    gap: 3rem !important;
}

.stretch {
    display: flex !important;
    align-items: stretch !important;
    align-content: stretch !important;
}

.scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.col {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.d-none {
    display: none !important;
}

/* ======= Border ======= */
.round {
    border-radius: 50%;
}

.rounded {
    border-radius: 0.5rem;
}

.rounded-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.rounded-right {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.rounded-bottom {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.rounded-left {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.rounded-0 {
    border-radius: 0;
}

@media screen and (min-width: 576px) {
    .d-none-sm {
        display: none !important;
    }

    .d-sm-block {
        display: block !important;
    }

    .d-sm-flex {
        display: flex !important;
    }

    .col-sm {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-sm-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0
    }
}

@media screen and (min-width: 768px) {

    .d-none-md {
        display: none !important;
    }

    .d-md-block {
        display: block !important;
    }

    .d-md-flex {
        display: flex !important;
    }

    .col-md {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

@media screen and (min-width: 992px) {
    .d-none-lg {
        display: none !important;
    }

    .d-lg-block {
        display: block !important;
    }

    .d-lg-flex {
        display: flex !important;
    }

    .col-lg {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-lg-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 1200px) {

    .d-none-xl {
        display: none !important;
    }

    .d-xl-block {
        display: block !important;
    }

    .d-xl-flex {
        display: flex !important;
    }

    .col-xl {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-xl-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xl-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;

    }

    .col-xl-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 1400px) {

    .d-none-xxl {
        display: none !important;
    }

    .d-xxl-block {
        display: block !important;
    }

    .d-xxl-flex {
        display: flex !important;
    }

    .col-xxl {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-xxl-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xxl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xxl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xxl-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xxl-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xxl-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xxl-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xxl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xxl-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xxl-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xxl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.my-auto {
    margin: auto 0;
}

.flex__column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
}

.flex__row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2rem;
}

.flex__between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.flex__item {
    display: flex;
    min-height: 100%;
    max-width: 300px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__horizontal-center {
    display: flex;
    justify-content: center;
}

.flex__vertical-center {
    display: flex;
    align-items: center;
}

.justify-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-shrink: 0;
}

.grid-center {
    display: grid !important;
    place-items: center;
}

.order0 {
    order: 0;
}

.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.order3 {
    order: 3;
}

.order4 {
    order: 4;
}

@media screen and (max-width: 480px) {
    .order0-sm {
        order: 0;
    }

    .order1-sm {
        order: 1;
    }

    .order2-sm {
        order: 2;
    }

    .order3-sm {
        order: 3;
    }

    .order4-sm {
        order: 4;
    }
}

@media screen and (max-width: 768px) {
    .order0-md {
        order: 0;
    }

    .order1-md {
        order: 1;
    }

    .order2-md {
        order: 2;
    }

    .order3-md {
        order: 3;
    }

    .order4-md {
        order: 4;
    }
}

@media screen and (max-width: 992px) {
    .order0-lg {
        order: 0;
    }

    .order1-lg {
        order: 1;
    }

    .order2-lg {
        order: 2;
    }

    .order3-lg {
        order: 3;
    }

    .order4-lg {
        order: 4;
    }
}

.pt-0 {
    padding-top: 0rem;
}

.pb-0 {
    padding-bottom: 0rem;
}

.inline__block {
    display: inline-block;
}

.spacer {
    height: 12rem;
}

.spacer-6 {
    height: 6rem;
}

.spacer-5 {
    height: 5rem;
}

.spacer-4 {
    height: 4rem;
}

.spacer-3 {
    height: 3rem;
}

.spacer-2 {
    height: 2rem;
}

.spacer-1 {
    height: 1rem;
}

/* ==========Border======== */
.border-top {
    border-top: 1px solid var(--gray-color);
}

.border-bottom {
    border-bottom: 1px solid var(--gray-color);
}

/* =========Form========== */
.form__overlay {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 5;
    margin: 0 auto;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white-color-09);
}

.form__input {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white-color-09);
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.form__input::placeholder {
    color: var(--light-color-09);
}

.form__textarea {
    min-height: 150px;
    margin-bottom: 2rem;
}

input,
textarea {
    background-color: var(--dark-color-09);
}

.form__input:focus {
    outline: none;
    border: 1px solid var(--gray-color-09);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-color-09) inset;
    -webkit-text-fill-color: var(--white-color-09);
    transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

/* ========Buttons========= */
.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    max-width: 250px;
    width: fit-content;
    width: max-content;
    color: var(--black-color);
    background-color: var(--primary-color);
    border: solid 2px var(--primary-color);
    transition: all 0.3s ease-in-out;
    border-color: var(--primary-color);
    white-space: nowrap;
}

.btn-outline {
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 1rem 2rem;
    width: 100%;
    max-width: fit-content;
    transition: all 0.3s ease-in-out;
}

.link-btn {
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    max-width: fit-content;
    transition: all 0.3s ease-in-out;
}

.link-btn:hover {
    color: var(--primary-color);
    opacity: 0.8;
}

.btn-outline:hover {
    color: var(--black-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn:hover {
    color: var(--black-color);
    opacity: 0.8;
}

.btn__icon {
    font-size: 2.5rem;
    margin-left: 1rem;
    line-height: 0%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* ========Nav========= */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1980px;
    margin: auto;
}

.nav__logo .nav__logo-link {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    list-style: none;
}

.nav__link {
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}

.nav__link:hover {
    color: var(--primary-color);
}

.list-unstyled {
    list-style: none;
    font-family: var(--secondary-font);
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon img {
    width: 4rem;
    height: 4rem;
}

.icon-sm img {
    width: 3rem;
    height: 3rem;
}

.icon-xs img {
    width: 2.5rem;
    height: 2.5rem;
}

.icon-btn img {
    width: 1.5rem;
    height: 1.5rem;
}

/* ========Hero========= */

body {
    position: relative;
    overflow: hidden;
}

/* Overlap by 20% hero content over hero img using grid */
.split {
    position: relative;
    height: 95vh;
    max-height: 700px;
}

.split__content {
    position: absolute;
    left: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    z-index: 2;
    backdrop-filter: blur(5px);
}

.split__img {
    position: absolute;
    width: 100%;
    max-width: 50%;
    height: 100%;
    max-height: 700px;
    display: grid;
    place-items: center;
    top: 0;
    right: 0;
    z-index: 1;
}

.split__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 700px;
    object-fit: cover;
    opacity: 0.9;
}

/* ========Featured========= */
.text__container {
    position: relative;
}

.feature-text {
    padding-bottom: 4rem;
}

.image__feature {
    height: 100%;
    width: 100%;

}

.image__feature img {
    width: 100%;
    max-width: 1980px;
    height: auto;
    object-fit: cover;
    transform-origin: center;
}


.header-text {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white-color);
    line-height: 1.2;
}

.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact .contact__item {
    display: grid;
    width: 100%;
    place-items: center;
    min-height: 10rem;
    max-width: 500px;
    gap: 2rem;
    padding: 2rem 0rem;
    margin: auto;
}

/* ========Error Messages========= */
.message-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    z-index: 100;
}

.message {
    background-color: var(--dark-color-09);
    color: var(--light-color);
    padding: 2rem 3rem;
    max-width: 500px;
}

/* ========Marquee========= */
.marquee__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.marquee__text {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
}

.marquee__text div {
    display: inline-block;
    white-space: nowrap;
}


/* ==========cards========= */
.green-card {
    background-image: url(../img/green-card.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100%;
    width: 100%;
}

.green-mobile {
    background-image: url(../img/green-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100%;
    width: 100%;
}

/* ==========How========== */
.how__image {
    background-image: url(../img/why.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100%;
    width: 100%;
}

/* =========Testimonials========= */
.testimonials img {
    width: auto;
    height: 80px;
}

.testimonials .testimonial__item {
    display: grid;
    min-height: 500px;
    min-width: 400px;
    max-width: 500px;
    gap: 2rem;
    margin: auto;
}

.testimonials .testimonial__item .flex__column {
    height: 533px;
}

.testimonials .testimonial__item li {
    font-size: 80% !important;
}

.services img {
    width: fit-content;
    width: max-content;
    height: 100px;
}

.tech .flex__column {
    transition: all 0.3s ease-in-out;
}

.tech .flex__column:hover {
    box-shadow: 0 0 12px 3px var(--primary-color-09);
}

#think img
#specialize img {
    transition: all 0.3s ease-in-out;
}

#think img:hover,
#specialize img:hover {
    -webkit-filter: drop-shadow(0px 0px 6px var(--primary-color-09));
    filter: drop-shadow(0px 0px 6px var(--primary-color-09));
}

/* =========Media Queries========= */
@media screen and (max-width: 960px) {
    .large-text {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 768px) {
    .testimonials .testimonial__item li {
        font-size: 60% !important;
    }

    .testimonials .testimonial__item {
        min-height: 450px;
        min-width: 300px;
        max-width: 500px;
    }

    #how {
        gap: 0rem;
    }

    .spacer {
        height: 8rem;
    }

    .split {
        position: relative;
        height: 100%;
        max-height: 100%;
        margin-top: 0%;

    }

    .split__content {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    .split__img {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }

    .split__img img {
        position: relative;
        max-width: 100%;
        width: 100vw;
        height: auto;
    }

    .testimonials .testimonial__item {
        height: 450px;
    }

    .testimonials .testimonial__item .flex__column {
        height: 450px;
    }

}

@media screen and (max-width: 480px) {
    .header-text {
        font-size: 2.6rem;
    }

    .large-text {
        font-size: 1.4rem;
    }

}