{% load static %}
<div class="spacer"></div>
<section>
  <div class="fade-left">
    <div class="container contact px-2 px-md-4">
      <div class="flex__column">
        <h2 class="gray left">Let's Get <span class=" primary">Started</span></h2>
        <p class="medium-text right">
          If you are ready to take your website to the next level, then let's get started. I look forward to hearing
          from you.
        </p>
        {% include 'partials/contact/contact-info.html' %}
      </div>
      <div class="spacer-4"></div>
      {% include 'partials/contact/form.html' %}
    </div>
  </div>
</section>