{% load static %}

<div class="spacer"></div>
<section>
  <div class="bg-light fade-right">
    <div class="container contact">
      <div class="flex__column p-2 py-4 py-lg-6 p-md-3">
        <div class="row">
          <div class="contact__item col-12 col-md-4 bg-primary right">
            <h3 class="light">Phone:</h3>
            <a href="tel:085 785 3809" class="light inline__block medium-text montserrat">085 785 3809</a>
          </div>
          <div class="contact__item col-12 col-md-4 bg-white left">
            <h3 class="primary">Email:</h3>
            <a href="mailto:rp42dev@gmail.com" class="primary inline__block medium-text montserrat">rp42dev@gmail.com</a>
          </div>
          <div class="contact__item col-12 col-md-4 large-text bg-primary right">
            <h3 class="light">Social:</h3>
            <div class="flex__row social">
              <a href="https://www.linkedin.com/in/rp42/" class="light inline__block">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
              <a href="https://github.com/rp42dev" class="light inline__block">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</section>