{% load static %}

<div class="spacer"></div>
<section>
  <div class="bg-primary">
    <div class="container">
      <div class="flex__column p-2 py-4 py-lg-6 p-sm-3">
        <div class="">
          <p class="light text-center large-text">
            Alternatively, get in touch using the
            information below or contact me via social media.
          </p>
        </div>
        <div class="row flex__between">
          <div class="col-12 col-sm-6 flex__row">
            <a href="mailto:rp42dv@gmail.com" class="white inline__block">rp42dev@gmail.com</a>
            <a href="tel:085 785 3809" class="white inline__block">085 785 3809</a>
          </div>
          <div class="col-12 col-sm-6">
            <div class="flex__row">
              <a href="https://www.linkedin.com/in/rp42/" class="white inline__block">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
              <a href="https://github.com/rp42dev" class="white inline__block">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-text__box-6deg">
    </div>
</section>