<div class="left">
    <div class="container contact">
        <div id="form" class="row">
            <div class="col-12 col-md-6">
                <p class="medium-text form-text p-0 pr-md-4 ">
                    If you have a project that you would like to discuss, get in touch. I am always happy to hear from
                    you.

                    You can fill out the form or contact me on LinkedIn or GitHub below.</p>
                    <div class="social__icons">
                        <a href="https://www.linkedin.com/in/rp42/" class="primary">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a href="https://github.com/rp42dev " class="primary">
                            <i class="fab fa-github fa-2x mx-2"></i>
                        </a>
                       
                    </div>
            </div>
            <div class="form__overlay col-12 col-md-6">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    <div class="form__group">
                        <input type="text" name="name" class="form__input" placeholder="Your name" id="name" required>
                    </div>
                    <div class="form__group">
                        <input type="email" name="email" class="form__input" placeholder="Your email" id="email"
                            required>
                    </div>
                    <div class="form__group">
                        <textarea name="message" class="form__input" placeholder="Your message" id="message"
                            required></textarea>
                    </div>
                    <button class="btn btn--primary right">Send <i class="fas fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>