<div class="left">
    <div class="container contact">
        <div class="row">
            <div class="col-12 col-md-6">
                <h3 class="contact__title gray">Contact <span class="primary">Form</span></h3>
                <div class="spacer-2"></div>
                <p class="medium-text form-text p-0 pr-md-4">If you prefer, you can also contact me by filling out the contact
                    form.
                    Please provide as much detail as possible so that I can best understand your web design needs.</p>
            </div>
            <div class="form__overlay col-12 col-md-6">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    <div class="form__group left">
                        <input type="text" name="name" class="form__input" placeholder="Your name" id="name" required>
                    </div>
                    <div class="form__group right">
                        <input type="email" name="email" class="form__input" placeholder="Your email" id="email"
                            required>
                    </div>
                    <div class="form__group left">
                        <textarea name="message" class="form__input" placeholder="Your message" id="message"
                            required></textarea>
                    </div>
                    <button class="btn btn--primary right">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>