{% load static %}

<div class="spacer my-2"></div>
<section id="hero">
  <div class="container split">
    <div class="p-2 py-0 py-md-3 py-xl-4 split__content m-0 m-sm-3 my-0 mr-0 fade-left">
      <h1 class="left header-text gray responsive_headline">Get in <span class=" primary">touch</span></h1>
      <p class="large-text right medium-text">
       Looking for a web design partner to help achieve your website goals? Look no further! I offer custom website
       design and development, responsive transformation, website maintenance, and more. Contact me today to learn how I can assist you.
      </p>
          <a href="#form" class="btn scrollto">Get Started <span class="btn__icon">⮷</span></a>

    </div>
    <div class="split__img fade-right d-none d-md-block">
      <img src="{% static 'img/staggered.jpg' %}"alt="Hero Image">
    </div>
  </div>
</section>